/* Home */

.home{
    #main{
        padding: 15px 0 0;
    }
    h1{
        display: inline-block;
        padding: 0 $innerGutter 0 $col;
        vertical-align: middle;
        margin: 10vh 0;
        text-align: right;
        color: #fff0a1;
        > em{
            font-family: $arvo;
            font-style: italic;
        }
    }
    #menu-main{
        opacity: 0;
    }
    #header{
        &.fixed, .no-js &{
            #menu-main{
                opacity: 1;
            }
        }
    }
    .theme-we{
        position: relative;
        z-index: 1;
    }
}

.menu-home{
    display: inline-block;
    width: $col*4;
    padding: 0 $innerGutter;
    vertical-align: middle;
    margin: 0 $col;
    font-family: $avalonMedium;
    color: #fff;
    li{
        margin: 0;
        padding: 0 0 25px 23px;
        &:before{
            display: none;
        }
        &:after{
            content: '';
            width: 15px;
            height: 32px;
            position: absolute;
            top: 0;
            left: 0;
            background: url('../layoutImg/slash-cta-yel.svg') 0 0 no-repeat;
        }
        &:last-child{
            padding-bottom: 0;
        }
    }
    span{
        display: block;
        margin: 0 0 4px;
        font-family: $avalonBold;
        font-size: 1.8rem;
        line-height: 0.8;
        text-transform: uppercase;
    }
    a{
        box-shadow: none;
        color: inherit;
        font-family: $arvo;
        &:before,
        &:after {
            bottom: 12px;
        }
    }
    .btn-arrow{
        display: inline-block;
        font-style: normal;
    }
}
