.startups-jobs{
    margin: 2*$outterGutter 0 0;
    .form-search{
        display: block;
        max-width: 100%;
        margin: 30px 0;
    }
    .dropdown{
        margin: 0 0 10px;
    }
}

.job-sidebar-title{
    padding: 0;
    margin: 0;
    font-family: $avalonMedium;
    font-size: 3.6rem;
    line-height: 1.6;
    font-style: normal;
    text-align: left;
    + p{
        margin: 0;
        font-family: $arvo;
        font-size: 2.2rem;
    }
}


.list-jobs{
    flex-wrap: wrap;
}
.job{
    width: calc(50% - #{$innerGutter});
    display: flex;
    padding: 60px 0 25px;
    border-bottom: 1px solid $greyBorder;
    align-items: flex-start;
    box-shadow: none;
    &:nth-child(odd){
        margin: 0 $outterGutter 0 0;
    }
    > div{
        padding: $innerGutter;
        flex: 1 0 0px;
        &:last-child{
            margin: 0 0 0 $innerGutter;
        }
        > div{
            flex: 1 0 0px;
            padding: $innerGutter;
            &:last-child{
                margin: 0 0 0 $innerGutter;
            }
            img{
                max-width: 70%;
            }
        }
    }
}

.fields-area{
    margin: 0 0 4*$outterGutter 0;
}

.job-title{
    font-family: $avalonBold;
}
.job-title, .job-title-alven{
    margin: 0;
    letter-spacing: -0.05em;
    line-height: 1.1;
    color: $darkBlue;
}

.job-location, .job-location-alven{
    margin: 0;
    font-family: $avalonMedium;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.job-title{
    font-family: $avalonMediumBold;
    font-size: 2rem;
}
.job-location{
    color: $blue;
}

.job-paginate{
    margin: 4*$outterGutter 0;
}

.alven-jobs{
    margin: 2*$outterGutter 0 0;
    padding: 3*$outterGutter 0;
    background-color: $gold;
    margin: 4*$outterGutter 0 0 0;
}

.alven-jobs{
    padding: 4.5em 0;
    margin: 2*$outterGutter 0 0;
    background: $gold;
    .container{
        align-items: center;
    }
}

.job-alven{
    max-width: 23%;
    box-shadow: none;
}
.job-title-alven{
    font-family: $avalonBold;
    font-size: 2.2rem;
}