.startups-jobs{
    margin: 2*$outterGutter 0 0;
}
.list-jobs{
    flex-wrap: wrap;
    .job{
        display: flex;
        align-items: center;
        width: calc(50% - #{$innerGutter});
        border-bottom: 1px solid $greyBorder;
        box-shadow: none;
        &:nth-child(odd){
            margin: 0 $outterGutter 0 0;
        }
        > div{
            flex: 1 0 0px;
            padding: $innerGutter;
            &:last-child{
                margin: 0 0 0 $innerGutter;
            }
            img{
                max-width: 70%;
            }
        }
    }
}

.fields-area{
    margin: 0 0 4*$outterGutter 0;
}

.job-title{
    font-family: $avalonBold;
    color: $darkBlue;
}
.job-location{
    font-family: $avalonMedium;
    color: $blue;
}

.job-paginate{
    margin: 4*$outterGutter 0;
}

.alven-jobs{
    margin: 2*$outterGutter 0 0;
    padding: 3*$outterGutter 0;
    background-color: $gold;
}