.startups-jobs{
    margin: 2*$outterGutter 0 0;
    .form-search{
        display: block;
        max-width: 100%;
        margin: 30px 0;
    }
}

.jobs-form{
    margin: 15px 0 0;
    div{
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .jobs-search{
        margin: 0 0 30px;
    }
    .select{
        margin: 0 0 10px;
    }
    .btn{
        margin: 10px 0 0;
    }
}

.jobs-search{
    .btn-search{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: 1;
    }
    label{
        top: 10px;
    }
}

.job-sidebar-title, .job-single-title{
    width: 100%;
    padding: 0;
    font-size: 3.6rem;
    line-height: 1.6;
    font-style: normal;
    text-align: left;
}
.job-sidebar-title{
    margin: 0;
    font-family: $avalonMedium;
    + p{
        margin: 0;
        font-family: $arvo;
        font-size: 2.2rem;
    }
}
.job-single-title{
    margin: 1em 0 0.25em;
    font-family: $avalonMediumBold;
}


.list-jobs{
    flex-wrap: wrap;
}
.job{
    width: calc(50% - #{$innerGutter});
    display: flex;
    padding: 60px 0 25px;
    border-bottom: 1px solid $greyBorder;
    align-items: flex-start;
    box-shadow: none;
    &:nth-child(odd){
        margin: 0 $outterGutter 0 0;
    }
    > div{
        padding: $innerGutter;
        flex: 1 0 0px;
        &:last-child{
            margin: 0 0 0 $innerGutter;
        }
        > div{
            flex: 1 0 0px;
            padding: $innerGutter;
            &:last-child{
                margin: 0 0 0 $innerGutter;
            }
        }
    }
    img{
        max-width: 70%;
        max-height: 100px;
    }
}

.fields-area{
    margin: 0 0 4*$outterGutter 0;
}

.job-title{
    font-family: $avalonBold;
}
.job-title, .job-title-alven{
    margin: 0;
    letter-spacing: -0.05em;
    line-height: 1.1;
    color: $darkBlue;
}

.job-location, .job-location-alven{
    margin: 0;
    font-family: $avalonMedium;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.job-title{
    font-family: $avalonMediumBold;
    font-size: 2rem;
}
.job-location{
    color: $blue;
}

.job-paginate{
    margin: 4*$outterGutter 0;
}

.alven-jobs{
    margin: 2*$outterGutter 0 0;
    padding: 3*$outterGutter 0;
    background-color: $gold;
    margin: 4*$outterGutter 0 0 0;
}

.alven-jobs{
    padding: 4.5em 0;
    margin: 2*$outterGutter 0 0;
    background: $gold;
    .container{
        align-items: center;
    }
}

.job-alven{
    max-width: 23%;
    box-shadow: none;
}
.job-title-alven{
    font-family: $avalonBold;
    font-size: 2.2rem;
}


.single-job{
    .title-small{
        margin: 0;
    }
}

.details-job-header{
    margin: 0 0 6.5em;
    > div{
        width: 50%;
    }
    .title-small{
        + p{
            margin: 0;
            font-size: 1.4rem;
            text-transform: uppercase;
            letter-spacing: 0.05em;
        }
    }
}

.details-job-main{
    width: 75%;
    padding: 0 $innerGutter 0 0;
}

.details-job-sidebar{
    width: 25%;
    padding: 0 0 0 $innerGutter;
    .btn{
        width: 100%;
        margin: 0 0 3em;
    }
}
