/* Forms */

form {
    div {
        display: inline-block;
        width: 50%;
        position: relative;
        vertical-align: top;
        padding: 0 $innerGutter;
        margin: 40px 0 0;
        &.large {
            width: 280px;
            max-width: 100%;
        }
        &.full {
            width: 100%;
            input {
                max-width: 55%;
            }
        }
        &.has-desc {
            input,
            button {
                margin: 0 5% 5px 0;
            }
        }
        &.margin-bottom-large {
            margin-bottom: 50px;
        }
        label {
            left: 25px;
            right: 25px;
        }
    }
    .form-section-inline {
        display: flex;
        div {
            display: block;
            width: auto;
            &:last-child {
                flex-grow: 2;
            }
        }
    }
}

fieldset {
    margin: 50px 0 0;
    &:first-of-type {
        margin: 0;
    }
}

legend {
    display: block;
    width: 100%;
    width: calc(100% - 20px);
    padding: 0 0 10px;
    border-bottom: 1px solid;
    position: relative;
    margin: 0 0 10px $innerGutter;
    font-size: 1.8rem;
    line-height: 1.3;
    opacity: 0.5;
    transition: $transition;
    span {
        display: block;
        font-family: $avalonMediumBold;
    }
    .js & {
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
        &.active {
            cursor: default;
        }
    }
    &.active,
    .no-js & {
        opacity: 1;

        @include pseudoCross();
        &:after {
            left: -27px;
            bottom: -8px;
            font-size: 14px;
        }
        &:before {
            left: -34px;
            bottom: -1px;
        }
    }
}
.form-title {
    display: block;
    margin: 20px 0 25px $innerGutter;
    font-size: 1.8rem;
    + div {
        margin-top: 0;
    }
}

label {
    position: absolute;
    top: 7px;
    left: 15px;
    right: 15px;
    font-family: $arvo;
    font-style: italic;
    font-size: 1.4rem;
    line-height: 1.4;
    letter-spacing: -0.05em;
    cursor: text;
    transform: translate3d(0, 0, 0);
    transition: $transition;
    .no-js & {
        transform: translate3d(0, -180%, 0);
    }
    .js & {
        opacity: 0;
    }
}

input,
textarea,
select,
button {
    transition: $transition;
    &:focus {
        outline: 0;
    }
}

input,
textarea {
    width: 100%;
    padding: 5px 15px;
    position: relative;
    z-index: 1;
    font-family: $arvo;
    font-size: 16px;
    color: $darkBlue;
    &:-webkit-autofill {
        box-shadow: 0 0 0 1000px #fff inset;
    }
    &:hover {
        opacity: 0.7;
        + label {
            opacity: 0.7;
        }
    }
    &:focus {
        opacity: 1;
        + label {
            opacity: 1;
        }
    }
    &.filled {
        &:valid {
            border-color: $blue;
            + label {
                color: $blue;
            }
        }
        &:invalid,
        &.invalid {
            border-color: #f06850;
            + label {
                color: #f06850;
            }
        }
    }
    &.invalid {
        border-color: #f06850;
        + label {
            color: #f06850;
        }
    }
    &:invalid {
        box-shadow: none; // remove default invalid styles on FF
    }
}

textarea {
    height: 150px;
    border: 1px solid $darkBlue;
    &:focus {
        + label {
            .js & {
                opacity: 0 !important; //override js
            }
        }
    }
    &.filled {
        + label {
            opacity: 0 !important; //override js
        }
    }
}

input {
    border: 0;
    border-bottom: 1px solid $darkBlue;
    &[type="search"] {
        &::-webkit-search-cancel-button,
        &::-webkit-search-decoration {
            display: none;
        }
    }
    &[type="file"] {
        padding: 0;
        border: 0;
        cursor: pointer;
        + label {
            opacity: 0 !important;
        }
    }
    &:focus {
        + label {
            .js & {
                transform: translate3d(0, -180%, 0);
            }
        }
    }
    &.filled {
        + label {
            transform: translate3d(0, -180%, 0);
        }
    }
}

button {
    color: $darkBlue;
    &[type="submit"] {
        margin-top: 25px;
        margin-left: $innerGutter;
    }
}

select {
    // hide the arrow on edge + ie
    &::-ms-expand {
        display: none;
    }
}

.form-desc {
    display: inline-block;
    max-width: 40%;
    vertical-align: top;
    font-size: 1.4rem;
    font-family: $arvo;
    font-style: italic;
    line-height: 1.4;
}

.form-success {
    color: $blue;
}
.form-error {
    color: #f06850;
}

.form-search {
    display: inline-block;
    max-width: 300px;
    position: relative;
    margin: 50px 0;
    vertical-align: middle;
    .btn-search {
        position: absolute;
        top: 7px;
        right: 0;
        margin-top: 0;
        margin-left: 0;
        z-index: 2;
    }
    label {
        text-align: left;
    }
}

.select {
    position: relative;
    margin: 0 0 10px;
    color: $blue;
    &:after {
        @include fontIcon;
        content: "\e906"; // arrow down
        position: absolute;
        top: 17px;
        right: 10px;
        font-size: 10px;
        transition: $transition;
        color: inherit;
        pointer-events: none;
        transform: translate3d(0, 0, 0);
        text-indent: 0;
    }
    &:hover {
        background: $blue;
        .no-js &,
        .is-desktop & {
            color: #fff;
        }
    }
    > select {
        width: 100%;
        padding: 15px 18px 13px;
        font-size: 1.4rem;
        letter-spacing: 0.05em;
        line-height: 1;
        text-transform: uppercase;
        color: inherit;
        border: 1px solid $blue;
        -moz-appearance: none;
        -webkit-appearance: none;
    }
}

@media (max-width: $phone) {
    form {
        .form-section-inline {
            flex-wrap: wrap;
            > div {
                width: 100%;
            }
        }
    }
}
