/* Post */

.post-meta{
    margin: 10px 0 15px;
    time{
        font-family: $avalonMedium;
        font-size: 1.2rem;
    }
    .btn-cat{
        padding-bottom: 3px;
    }
}

.post-meta-header{
    text-align: center;
    /*.share{
        margin: 4.5em 0 0;
    }*/
}

.post-meta-header, .post-meta-spotlight{
    .btn-cat{
        padding-bottom: 3px;
        margin-right: 5px;
    }
    time{
        margin-left: 5px;
    }
    .btn-cat{
        font-family: $avalonMedium;
        font-size: 1.4rem;
    }
}

.post-sidebar{
    margin: 0 0 50px;
    backface-visibility: hidden;
    .title-small{
        padding: 0 0 0 24px;
    }
    ul{
        padding: 12px 0 0;
        margin: 6px 0 0;
        border-top: 1px solid $greyBorder;
        position: relative;

        @include pseudoCross;
        &:after{
            top: -8px;
            left: -1px;
        }
        &:before{
            left: -10px;
            top: -1px;
        }
    }
    li{
        padding-left: 0;
        &:last-child{
            @include pseudoCross;
            &:before{
                display: block;
                top: auto;
                left: -10px;
                bottom: -1px;
                border-radius: 0;
            }
            &:after{
                bottom: -8px;
                left: 0;
            }
            .img{
                padding: 0;
                &.on{
                    padding: 0 0 74%;
                }
            }
        }
    }
    .img{
        height: 0;
        padding: 0 0 74%;
        position: relative;
        overflow: hidden;
        transition: $transition;
        &.off{
            padding: 0;
        }
        img{
            width: 100%;
            position: absolute;
            top: 0;
            bottom: 15px;
            margin: auto;
        }
        a{
            box-shadow: none;
        }
    }
    &.fixed{
        position: fixed;
    }
    &.fixedBot{
        position: absolute;
    }
}

.post-small{
    padding-bottom: 20px;
    border-bottom: 1px solid $greyBorder;
    margin: 0 0 20px;
    &:before{
        display: none;
    }
    h4{
        margin: 0;
        font-size: 1.8rem;
        line-height: 1.2;
    }
    time{
        color: $blue;
    }
    .post-meta{
        margin: 3px 0 5px;
    }
}

.post-title{
    font-size: 2.8rem;
    color: $darkBlue;
}


.spotlight-posts{
    position: relative; // to stay above content-header
    overflow: hidden;
    z-index: 10;
    padding: 32px 0 0 0;
    background-color: #fff;
    &:before{
        content: '';
        display: block;
        position: absolute;
        top: 32px;
        right: 0;
        bottom: 0;
        left: 0;
        background: $greyMedium;
    }
    .container{
        padding-bottom: 80px;
    }
}
.spotlight-post{
    position: relative;
    &:hover{
        .no-js &, .is-desktop &{
            > div{
                transform: translate3d(0, 12px, 0);
            }
        }
    }
    > div{
        padding: 20px 30px 20px 20px;
        position: relative;
        margin: -32px 0 0;
        background: #fff;
        transform: translate3d(0, 0, 0);
        transition: $transition;
        border: 1px solid $greyBorder;
    }
    h4{
        margin: 0 0 10px;
        font-size: 2.4rem;
        word-wrap: break-word;
        color: $blue;
    }
    p{
        margin: 0 0 10px;
        font-size: 1.4rem;
        line-height: 1.2;
        &:last-of-type{
            margin-bottom: 15px;
        }
    }
    ul{
        padding: 0;
        margin: 0 0 10px;
        font-size: 1.4rem;
        line-height: 1.4;
        li{
            margin: 0 0 5px;
            &:before{
                background: $darkBlue;
            }
        }
    }
    .content{
        transition: $transition;
    }
    &.off{
        .content{
            opacity: 0.4;
        }
    }
}

.main-spotlight-post{
    padding: 0 0 10px;
    border-top: 1px solid $greyBorder;
    position: relative;
    margin: 0 0 45px;
    overflow: hidden;
    .home &{
        margin: 0 0 70px;
    }
    &:after{
        content: '';
        height: 10px;
        border-top: 1px solid $greyBorder;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: #fff;
    }
    .img{
        position: absolute;
        vertical-align: middle;
        margin: 0 $col 0 -10px;
        top: 0;
        bottom: 10px;
        left: 0;
        img{
            max-width: 50vw;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 10px;
            margin: auto;
        }
    }
    .txt{
        position: relative;
        vertical-align: middle;
        margin: 4.4em 0 60px $col*7;
        z-index: 1;
        text-align: left;

        @include pseudoCross;
        &:before{
            left: 3px;
            bottom: -61px;
        }
        &:after{
            left: 10px;
            bottom: -67px;
        }
    }
    h3{
        margin: 0;
        font-family: $avalonMediumBold;
        font-size: 4.2rem;
        letter-spacing: -0.03em;
    }
    p{
        margin: 0 0 2em;
    }
}

.post-meta-spotlight{
    margin: 10px 0 30px;
}



.read-also-posts{
    .grid{
        display: table;
        width: 100%;
        width: calc(100% + 20px);
        table-layout: fixed;
    }
    h4{
        max-width: 78%;
        margin: 0;
        font-size: 3.2rem;
    }
}
.read-also-post{
    display: table-cell;
    position: relative;
    /*time, .btn-cat{
        text-transform: none;
    }*/

    @include pseudoCross;
    &:after{
        left: 10px;
        bottom: -68px;
    }
    &:before{
        left: 3px;
        bottom: -61px;
    }

    .img{
        display: block;
        height: 150px;
        max-width: 78%;
        overflow: hidden;
        position: relative;
        margin: 0 0 20px;
        box-shadow: none;
        img{
            width: 100%;
            height: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
}

.post{
    border-bottom: 1px solid $greyBorder;
    margin-bottom: 45px;
    &:first-of-type{
        padding-top: 45px;
        border-top: 1px solid $greyBorder;
    }
    .grid{
        padding: 0 0 45px;
        position: relative;

        @include pseudoCross;
        &:after{
            bottom: -8px;
            left: $col;
            margin: 0 0 0 -1px;
        }
        &:before{
            left: $col;
            bottom: -1px;
            margin: 0 0 0 -8px;
        }
    }
    .img{
        padding: 0 $col;
    }
    h3, .post-meta{
        margin: 0 0 8px;
    }
    h3{
        font-family: $avalonMediumBold;
        font-size: 3.2rem;
    }
    p{
        margin: 0 0 4px;
    }
    .special-cat{
        height: 0;
        padding: 0 0 60%;
        position: relative;
        font-family: $avalonBold;
        font-size: 1.7rem;
        background: $darkBlue;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        > div{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            &.cat-book{
                top: -7px;
            }
        }
    }
}

.calendar, .cat-default{
    width: 63px;
    height: 75px;
    border: 3px solid #fff;
    &:before, &:after{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
    }
    &:after{
        bottom: -5px;
        right: -5px;
        border-width: 0 0 19px 19px;
        border-color: transparent transparent $darkBlue transparent;
    }
    &:before{
        bottom: -3px;
        right: -3px;
        border-width: 15px 15px 0 0;
        border-color: #fff transparent transparent transparent;
    }
}

.cat-default{
    div{
        margin: 15px 0;
        &:before, &:after{
            content: '';
            display: block;
            margin: 7px auto 0;
            width: 70%;
            height: 12px;
            border-top: 3px solid #fff;
            border-bottom: 3px solid #fff;
        }
    }
}

.calendar{
    border-top: 20px solid #fff;
    .month{
        position: absolute;
        top: -18px;
        left: 0;
        right: 0;
        color: $darkBlue;
        line-height: 1;
    }
    .day{
        display: block;
        font-family: $avalonMediumBold;
        font-size: 3rem;
        sup{
            font-size: 50%;
            text-transform: none;
        }
    }
}

.cat-job{
    width: 80px;
    height: 80px;
    border: 3px solid #fff;
    border-radius: 50%;
    line-height: 76px;
}

.cat-def{
    width: 112px;
    height: 36px;
    border: 3px solid #fff;
    line-height: 32px;
}

.cat-book{
    width: 50px;
    height: 70px;
    border: 3px solid #fff;
    &:before{
        content: '';
        display: block;
        width: 50px;
        height: 70px;
        border: 3px solid #fff;
        margin: 6px 0 0 -12px;
        background: $darkBlue;
    }
}

.pagination{
    font-family: $avalonBold;
    text-align: center;
    color: $darkBlue;
    .current{
        color: $darkBlue;
    }
    .page-numbers{
        display: inline-block;
        vertical-align: baseline;
        margin: 0 2px;
    }
    .next, .prev{
        vertical-align: bottom;
    }
}

.related-startups{
    .title-small{
        top: -30px;
    }
    .related-portfolio-list{
        &:before{
            top: -1px;
        }
        &:after{
            top: -8px;
        }
    }
    .post-small{
        margin-top: 30px;
        &:after{
            display: none;
        }
    }
    img{
        width: auto;
        height: auto;
        max-width: 60%;
        max-height: 60%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    .img{
        padding: 0 0 60%;
        border: 1px solid $greyBorder;
        position: relative;
        margin: 0 0 5px;
        a{
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            box-shadow: none;
        }
    }
}

