// Variables //


// Grid

$outterGutter: 20px;
$innerGutter: 10px;
$col: 100/12*1%;
$colSmall: 100/10*1%;


// Colors

$txt: #636a6b;
$title: #404040;
$chapo: #303b3d;

$magazine: #f06850;
$portfolio: #01a2a6;
$we: #33a4df;

$gold: #d3ceaa;

$grey: #818a8c;
$greyMedium: #636a6b;
$greyLight: #ccd1d2;
$greyBorder: #e5e8e8;
$greyBlue: #26393d;

$focus: #28626F;


// Transitions

$transition: .3s ease-in-out;


// Fonts

$merriweather: 'merriweather', sans-serif;
$merriweatherBold: 'merriweather-bold', $merriweather;
$merriweatherIt: 'merriweather-italic', $merriweather;
$merriweatherBoldIt: 'merriweather-bolditalic', $merriweather;

$source: 'source', $merriweather;
$sourceLight: 'source-light', $merriweather;
$sourceSemiBold: 'source-semi-bold', $merriweatherBold;
$sourceBold: 'source-bold', $merriweatherBold;
$sourceBlack: 'source-black', $merriweatherBold;
