/* Newsletter */

.newsletter{
    padding: 60px 0 55px;
    overflow: hidden;
    background: $gold;
    color: $darkBlue;
    .newsletter-title{
        vertical-align: middle;
    }
    h3, p, form{
        vertical-align: middle;
    }
    h3{
        display: inline-block;
        font-family: $avalonBold;
        color: inherit;
        width: 33.333333%;
        margin: 0;
    }
    p{
        display: inline-block;
        font-size: 1.4rem;
        color: $darkBlue;
        width: 66.666666%;
        padding: 0 0 0 $col;
        margin: 0;
    }
    /*form{
        padding-left: $outerGutter;
    }
    fieldset{
        width: 62.35%;
    }*/
    input{
        border-bottom: 1px solid $darkBlue;
        &:-webkit-autofill{
            box-shadow: 0 0 0 1000px $gold inset;
        }
    }
    fieldset{
        display: inline-block;
        padding: 0 $outerGutter 0 0;
        position: relative;
        vertical-align: bottom;
        margin: 0;
    }
    .btn-invert{
        margin: 0;
        color: $darkBlue;
        border-color: $darkBlue;
        .before{
            color: $darkBlue;
        }
        .after{
            color: $gold;
        }
        &:hover, &:focus{
            .no-js &, .is-desktop &{
                background: $darkBlue;
                border-color: $darkBlue;
                color: $gold;
            }
            .no-js &{
                background: $darkBlue;
            }
        }
    }
}


.subscribe-form{
    display: inline-block;
    width: $col*5;
    padding: 0 $innerGutter 0 $outerGutter;
    position: relative;
    vertical-align: middle;
    label{
        left: 35px;
    }
    input{
        &[type=text], &[type=email]{
            width: 99%;
        }
        &[type=submit]{
            width: auto;
        }
    }
}

.mailjet_widget_form_message{
    display: block;
    width: 66%;
        padding: 10px;
        font-size: 1.2rem;
        line-height: 1.2;
        color: $blue;
        p{
            width: 52%;
            padding: 0;
            font-size: 1.2rem;
            line-height: 1.2;
            color: $blue;
        }
}

.mailjet-widget-form-group{
    width: 66%;
    margin: 0 !important;
}