/******* GÉNÉRAL *******/

::-moz-selection{
    @include themeBg();

    color: #fff;
    text-shadow: none;
}
::selection{
    @include themeBg();

    color: #fff;
    text-shadow: none;
}

html{
    font-size: 62.5%; /* sets the base font to 10px for easier math */
    &.menu-open{
        overflow: hidden;
    }
}

body{
    @include merriweather(1.6em);
    line-height: 1.6;
    color: $txt;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

h1, h3, h5, h6{
    @include sourceBold(6rem);
    color: $title;
}

h1{
    width: $col*6;
    //margin: 2em auto 2.5em;
    margin: 11vh auto 14vh;
    letter-spacing: -0.04em;
    line-height: 1;
    color: #fff;
}

h2{
    width: $col*8;
    padding: 0 $innerGutter;
    margin: 2.5em auto 2.75em;
    @include merriweatherBoldIt(2.2rem);
    line-height: 1.2;
    text-align: center;
    color: $chapo;
}

h3{
    font-size: 2.4rem;
    line-height: 1;
    margin: 2.1em 0 1.6em;
    a{
        box-shadow: none;
        color: $chapo;
    }
}

h4{
    @include sourceSemiBold(2rem);
    margin: 1.33em 0;
    line-height: 1;
    letter-spacing: -0.02em;
    color: $chapo;
    a{
        box-shadow: none;
    }
}

h5{
    font-size: 1.8rem;
    margin: 1.67em 0;
}

h6{
    font-size: 1.6rem;
    margin: 2.33em 0;
}

p{
    margin: 0 0 1.4em;
}

b, strong{
    @include merriweatherBold(1em);
}

i, em{
    @include merriweatherIt(1em);
}

blockquote{
    padding: 0 50px;
    margin: 3.5em $colSmall*2 4em;
    text-align: right;
    p{
        @include themeColor;

        margin-top: 0;
        font-family: $sourceBold;
        font-size: 2rem;
        text-align: center;
        letter-spacing: -0.02em;
        line-height: 1.1;
        &:before{
            content: '« ';
        }
        &:after{
            content: ' »';
        }
    }
    footer{
        display: inline-block;
        &:before{
            content: '- ';
        }
        span{
            display: block;
            font-family: $merriweatherIt;
            font-size: 1.4rem;
        }
    }
}

ol, ul{
    padding: 0 0 0 30px;
    margin: 1.9em 0 2.5em;
    list-style: none;
}
li{
    position: relative;
    margin: 0 20px;
    &:before{
        content: '';
        position: absolute;
        left: 0;
    }
}
ul{
    li{
        padding: 0 0 0 8px;
        &:before{
            @include themeBg;

            width: 3px;
            height: 3px;
            top: 11px;
            border-radius: 50%;
        }
    }
}
ol{
    counter-reset: counter;
    li{
        padding: 0 0 0 15px;
        counter-increment: counter;
        &:before{
            @include themeColor;

            content: counter(counter)'.';
            top: 5px;
            font-family: $merriweatherBold;
            font-size: 12px;
        }
    }
}

img{
    max-width: 100%;
    height: auto;
    &.alignnone, &.aligncenter{
        display: block;
        margin: 3.7em auto 4.4em;
    }
    &.alignleft{
        float: left;
        margin: 2.8em 4em 3.8em 0;
    }
    &.alignright{
        float: right;
        margin: 2.8em 0 3.8em 4em;
    }
}

figure{
    margin: 2.5em 0;
    text-align: center;
    &.aligncenter{
        margin: 2.5em auto;
    }
}
figcaption{
    margin: 10px 0 0;
    font-family: $merriweatherIt;
    font-size: 1.4rem;
}

code, pre{
    display: block;
    padding: 10px 15px;
    margin: 1em 0;
    background: $grey;
}

time, .subtitle{
    @include themeColor;

    font-family: $sourceLight;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: -0.04em;
}


/******* LIENS / BOUTONS *******/

a{
    //box-shadow: inset 0 -2px 0 0 #fff, inset 0 -3px 0 0 currentColor;
    box-shadow: 0 1px 0 0 currentColor;
    color: inherit;
    text-decoration: none;
    transition: $transition;
    &:focus, &:hover{
        .no-js &, .is-desktop &{
            opacity: 0.6;
        }
    }
    &:focus{
        outline: 0;
    }
    &:active{
        color: #000;
        opacity: 1;
    }
}


/******* CLASSES GENERALES  *******/

.hidden{
    display: none !important;
}

.clearfix{
    @include clearfix;
}

.align-center{
    text-align: center;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}

.overflow-hidden{
    overflow: hidden;
    position: relative;
}
