@font-face{
   font-family: 'merriweather';
   src: url('../fonts/merriweather-regular.woff2') format('woff2'),
        url('../fonts/merriweather-regular.woff') format('woff'),
        url('../fonts/merriweather-regular.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}

@font-face{
   font-family: 'merriweather-bold';
   src: url('../fonts/merriweather-bold.woff2') format('woff2'),
        url('../fonts/merriweather-bold.woff') format('woff'),
        url('../fonts/merriweather-bold.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}

@font-face{
   font-family: 'merriweather-italic';
   src: url('../fonts/merriweather-italic.woff2') format('woff2'),
        url('../fonts/merriweather-italic.woff') format('woff'),
        url('../fonts/merriweather-italic.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}

@font-face{
   font-family: 'merriweather-bolditalic';
   src: url('../fonts/merriweather-bolditalic.woff2') format('woff2'),
        url('../fonts/merriweather-bolditalic.woff') format('woff'),
        url('../fonts/merriweather-bolditalic.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}


@font-face{
   font-family: 'source';
   src: url('../fonts/sourcesanspro-regular.woff2') format('woff2'),
        url('../fonts/sourcesanspro-regular.woff') format('woff'),
        url('../fonts/sourcesanspro-regular.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}

@font-face{
   font-family: 'source-bold';
   src: url('../fonts/sourcesanspro-bold.woff2') format('woff2'),
        url('../fonts/sourcesanspro-bold.woff') format('woff'),
        url('../fonts/sourcesanspro-bold.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}

@font-face{
   font-family: 'source-light';
   src: url('../fonts/sourcesanspro-light.woff2') format('woff2'),
        url('../fonts/sourcesanspro-light.woff') format('woff'),
        url('../fonts/sourcesanspro-light.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}

@font-face{
   font-family: 'source-semi-bold';
   src: url('../fonts/sourcesanspro-semibold.woff2') format('woff2'),
        url('../fonts/sourcesanspro-semibold.woff') format('woff'),
        url('../fonts/sourcesanspro-semibold.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}

@font-face{
   font-family: 'source-black';
   src: url('../fonts/sourcesanspro-black.woff2') format('woff2'),
        url('../fonts/sourcesanspro-black.woff') format('woff'),
        url('../fonts/sourcesanspro-black.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.woff2?dkab2t') format('woff2'),
         url('../fonts/icomoon.ttf?dkab2t') format('truetype'),
         url('../fonts/icomoon.woff?dkab2t') format('woff'),
         url('../fonts/icomoon.svg?dkab2t#icomoon') format('svg');
    font-weight: 400;
    font-style: normal;
}


[class^='icon-'], [class*=' icon-']{
    &:before{
        @include fontIcon;
    }
}

$icons: (
    arrow-down: '\e906',
    arrow-body: '\e900',
    arrow-tip:  '\e901',
    search:     '\e902',
    linkedin:   '\e903',
    medium:     '\e904',
    twitter:    '\e905'
);
@each $name, $icon in $icons {
    .icon-#{$name}::before {
        content: $icon;
    }
}
