/* Buttons */

.btn, .btn-invert, .btn-arrow, .next, .prev{
    position: relative;
    font-family: $sourceBlack;
    font-size: 1.375rem;
    line-height: 1;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: $title;
    &.btn-left{
        &:after{
            transform: translate3d(0, -1px, 0) rotate(180deg);
        }
        &:hover, &:focus{
            .no-js &, .is-desktop &{
                &:after{
                    transform: translate3d(-7px, -1px, 0) rotate(180deg);
                }
                &:before{
                    transform: translate3d(-7px, 0, 0) scaleX(0.85);
                }
            }
        }
    }
    &:before, &:after{
        @include fontIcon();

        position: absolute;
        margin: auto;
        transition: transform $transition;
        transform: translate3d(0, 0, 0);
    }
    &:before{
        content: '\e900';
        height: 16px;
        bottom: 2px;
        right: -25px;
        font-size: 16px;
        transform-origin: 100% 50%;
    }
    &:after{
        content: '\e901';
        height: 9px;
        font-size: 9px;
        right: -28px;
        bottom: 5px;
    }
    &:hover, &:focus{
        .no-js &, .is-desktop &{
            &:after{
                transform: translate3d(7px, 0, 0);
            }
            &:before{
                transform: translate3d(7px, 0, 0) scaleX(0.85);
            }
        }
    }
}

.prev{
    &:after{
        left: -28px;
        right: auto;
        transform: translate3d(0, -1px, 0) rotate(180deg);
    }
    &:before{
        right: auto;
        left: -25px;
    }
    &:hover, &:focus{
        .no-js &, .is-desktop &{
            &:after{
                transform: translate3d(-7px, -1px, 0) rotate(180deg);
            }
            &:before{
                transform: translate3d(-7px, 0, 0) scaleX(0.85);
            }
        }
    }
}


.btn, .btn-invert{
    @include themeBorder($gold);

    display: inline-block;
    border: 1px solid;
    box-shadow: none;
    letter-spacing: 0.08em;
    overflow: hidden;
    &:before{
        top: 0;
        bottom: 0;
        z-index: 1;
    }
    &:after{
        top: 1px;
        bottom: 0;
    }
    span{
        display: block;
        transition: $transition;
    }
    .after{
        position: absolute;
        top: 42px;
        left: 17px;
        opacity: 0;
    }
    &:hover, &:focus{
        .no-js &, .is-desktop &{
            opacity: 1;
        }
        .is-desktop &{
            .after{
                opacity: 1;
            }
            .before{
                opacity: 0;
            }
        }
    }
    &:active{
        opacity: 0.7;
    }
}
.btn{
    @include themeBg($gold);
    @include themeBorder($gold);

    padding: 21px 47px 19px 17px;
    color: $greyBlue;
    &.btn-left{
        padding: 21px 17px 19px 47px;
        &:before{
            right: auto;
            left: 20px;
        }
        &:after{
            right: auto;
            left: 17px;
        }
        .after{
            right: auto;
            left: 47px;
        }
    }
    .theme-magazine &, .theme-portfolio &, .theme-we &{
        color: #fff;
    }
    &:before{
        right: 20px;
    }
    &:after{
        right: 17px;
    }
    .before{
        color: $greyBlue;
        .theme-magazine &, .theme-portfolio &, .theme-we &{
            color: #fff;
        }
    }
    .after{
        right: 47px;
        @include themeColor($greyBlue);
    }
    &:hover, &:focus{
        @include themeColorHover;
        @include themeBorderHover;
        .no-js &, .is-desktop &{
            background: #fff;
        }
        span{
            transform: translate3d(0, -21px, 0);
        }
        .no-js &{
            @include themeColor;
            @include themeBorder;
        }
    }
    &:active{
        color: #fff;
    }
}
.btn-invert{
    @include themeColor;

    padding: 13px 35px 11px 17px;
    background: transparent;
    &:before{
        right: 10px;
    }
    &:after{
        right: 7px;
    }
    .before{
        @include themeColor;
    }
    .after{
        top: 26px;
        right: 35px;
        color: #fff;
    }
    &:hover, &:focus{
        @include themeBorderHover;
        @include themeBgHover;
        .no-js &, .is-desktop &{
            color: #fff;
        }
        .is-desktop &{
            span{
                transform: translate3d(0, -13px, 0);
            }
        }
    }
}

.btn-search{
    position: relative;
    margin: 0 34px 0 0;
    font-family: $sourceBlack;
    font-size: 1.375rem;
    line-height: 1;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    &:after{
        @include fontIcon;

        content: '\e902';
        height: 20px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -38px;
        margin: auto;
        font-size: 20px;
        transform: translate3d(0, 0, 0);
        transition: transform $transition;
    }
    &:hover, &:focus{
        .no-js &, .is-desktop &{
            &:after{
                transform: translate3d(0, 0, 0) rotate(-70deg) scale(1.1);
            }
        }
    }
}

.btn-cat{
    display: inline-block;
    padding: 4px 7px 2px;
    font-family: $source;
    font-size: 1.2rem;
    line-height: 1;
    text-transform: uppercase;
    background: $grey;
    color: #fff;
    box-shadow: none;
    &:active{
        @include themeBg;

        color: #fff !important;
    }
}

.btn-arrow-only{
    display: block;
    position: relative;
    width: 57px;
    height: 45px;
    border: 1px solid $we;
    line-height: 45px;
    text-align: center;
    color: $we;
    @include btnNoTextBefore();
    box-shadow: none;
    &:before, &:after{
        @include fontIcon();

        text-indent: 0;
        position: absolute;
        top: 50%;
        transition: transform $transition;
        transform: translate3d(0, 0, 0);
    }
    &:before{
        content: '\e900';
        height: 16px;
        left: 18px;
        font-size: 16px;
        margin: -8px 0 0 0;
    }
    &:after{
        content: '\e901';
        height: 9px;
        left: 28px;
        font-size: 9px;
        margin: -4px 0 0 0;
        transform-origin: 50% 50%;
    }
    &.left{
        &:after{
            transform: rotate(-180deg);
            left: 15px;
            margin-top: -5px;
        }
    }
    &:hover{
        background-color: $we;
        color: #fff;
        &:before, &:after{
            transform: translate3d(7px, 0, 0);
        }
        &.left{
            &:before{
                transform: translate3d(-7px, 0, 0);
            }
            &:after{
                transform: translate3d(-7px, 0, 0) rotate(-180deg);
            }
        }
    }
}

.btn-cross{
    display: inline-block;
    vertical-align: top;
    position: relative;
    box-shadow: none;
    font-family: $sourceBlack;
    font-size: 1.375rem;
    line-height: 1;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    @include themeColor;
    padding: 1px 25px 1px 0;
    &:before, &:after{
        content: '';
        display: block;
        position: absolute;
        width: 20px;
        height: 1px;
        @include themeBg;
        top: 50%;
        right: 0;
        will-change: transform;
    }
    &:before{
        transform: rotate(45deg);
    }
    &:after{
        transform: rotate(-45deg);
    }
}

.btn-close{
    position: relative;
    margin: 0 34px 0 0;
    font-family: $sourceBlack;
    font-size: 1.375rem;
    line-height: 1;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #fff;
    &:before, &:after{
        content: '';
        position: absolute;
        width: 22px;
        height: 1px;
        top: 50%;
        right: -34px;
        background: #fff;
        transition: $transition;
    }
    &:before{
        transform: translate3d(0, 0, 0) rotate(45deg);
    }
    &:after{
        transform: translate3d(0, 0, 0) rotate(-45deg);
    }
    &:hover, &:focus{
        .no-js &, .is-desktop &{
            opacity: 0.6;
            &:before{
                transform: translate3d(0, 0, 0) rotate(135deg) scale(1.1);
            }
            &:after{
                transform: translate3d(0, 0, 0) rotate(45deg) scale(1.1);
            }
        }
    }
}

.btn-store, .btn-play{
    display: inline-block;
    width: 134px;
    height: 40px;
    text-indent: -99em;
    background-repeat: no-repeat;
    background-size: auto 100%;
    box-shadow: none;
    overflow: hidden;
}
.btn-store{
    background-image: url(../layoutImg/app-store.png);
}
.btn-play{
    background-image: url(../layoutImg/google-play.png);
}
