/* Buttons */

.btn, .btn-arrow, .btn-caps-arrow{
    display: inline-block;
    position: relative;
    line-height: 1;
    &:before, &:after{
        @include fontIcon();

        position: absolute;
        bottom: 0;
        margin: auto;
        transition: transform $transition;
        transform: translate3d(0, 0, 0);
    }
    &:before{
        content: '\e900';
        height: 16px;
        top: 0;
        right: -25px;
        font-size: 16px;
        transform-origin: 100% 50%;
    }
    &:after{
        content: '\e901';
        height: 9px;
        font-size: 9px;
        top: 1px;
        right: -28px;
    }
    &:hover, &:focus{
        &:after{
            transform: translate3d(0, 0, 0) translateX(7px);
        }
        &:before{
            transform: translate3d(0, 0, 0) translateX(7px) scaleX(0.85);
        }
    }
}

.btn, .btn-caps-arrow{
    font-family: $sourceBlack;
    font-size: 1.375rem;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: $title;
}

.btn{
    @include themeBg;
    @include themeBorder;

    padding: 21px 47px 19px 17px;
    border: 3px solid;
    box-shadow: none;
    letter-spacing: 0.08em;
    color: #fff;
    overflow: hidden;
    &:before{
        right: 20px;
    }
    &:after{
        right: 17px;
    }
    .before{
        span{
            display: inline-block;
            transform: translate3d(0, 0, 0);
            transition: opacity 0.25s cubic-bezier(0.75, 0, 0.125, 1), transform 0.15s cubic-bezier(0.75, 0, 0.125, 1);
        }
    }
    .after{
        position: absolute;
        top: 21px;
        left: 17px;
        opacity: 0;
        transform: translate3d(0, 40px, 0);
        transition: opacity 0.3s cubic-bezier(0.75, 0, 0.125, 1), transform 0.3s cubic-bezier(0.75, 0, 0.125, 1);
    }
    &:hover, &:focus{
        @include themeColor;

        background: #fff;
        opacity: 1;
        .before{
            span{
                opacity: 0;
                transform: translate3d(0, -40px, 0) scale(0.9);
                transition: opacity 0.25s cubic-bezier(0.75, 0, 0.125, 1), transform 0.3s cubic-bezier(0.75, 0, 0.125, 1);
            }
        }
        .after{
            opacity: 1;
            transform: translate3d(0, 0, 0);
            transition: opacity 0.3s cubic-bezier(0.75, 0, 0.125, 1) 0.2s, transform 0.3s cubic-bezier(0.75, 0, 0.125, 1) 0.2s;
        }
    }
    &:active{
        opacity: 0.7;
    }
}

.btn-search{
    box-shadow: none;
    &:after{
        @include fontIcon;

        content: '\e902';
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 17px;
        font-size: 20px;
        transform: translate3d(0, 0, 0);
        transition: transform $transition;
    }
    &:hover, &:focus{
        &:after{
            transform: translate3d(0, 0, 0) rotate(-70deg) scale(1.1);
        }
    }
}

.btn-cat{
    padding: 2px 4px 1px;
    font-family: $source;
    font-size: 1.2rem;
    text-transform: uppercase;
    background: $grey;
    color: #fff;
    box-shadow: none;
    &:active{
        @include themeBg;

        color: #fff !important;
    }
}
