/* Buttons */

.btn, .btn-arrow{
    position: relative;
    &:before, &:after{
        @include fontIcon();

        position: absolute;
        bottom: 0;
        margin: auto;
        transition: $transition;
        transform: translate3d(0, 0, 0);
    }
    &:before{
        content: '\e900';
        height: 16px;
        top: 0;
        right: -25px;
        font-size: 16px;
        transform-origin: 100% 50%;
    }
    &:after{
        content: '\e901';
        height: 9px;
        font-size: 9px;
        top: 1px;
        right: -28px;
    }
    &:hover, &:focus{
        &:after{
            transform: translate3d(0, 0, 0) translateX(5px);
        }
        &:before{
            transform: translate3d(0, 0, 0) translateX(5px) scaleX(0.85);
        }
    }
}

.btn{
    @include themeBg;

    display: inline-block;
    padding: 24px 50px 22px 20px;
    font-family: $sourceBlack;
    font-size: 1.375rem;
    letter-spacing: 0.1em;
    line-height: 1;
    box-shadow: none;
    text-transform: uppercase;
    color: #fff;
    &:before{
        right: 20px;
    }
    &:after{
        top: 0;
        right: 17px;
    }
}
