/* Gallery */

.gallery{
    margin: 0 1*-$innerGutter;
    div{
        display: inline-block;
        vertical-align: top;
        transition: $transition;
        &.off{
            opacity: 0.5;
        }
    }
    img{
        display: block;
        width: auto;
        height: 100%;
        margin: $innerGutter;
    }
    a{
        cursor: default;
    }
    .js &{
        width: 10000px;
        cursor: move;
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;
        &.grabbing{
            cursor: grabbing;
            cursor: -moz-grabbing;
            cursor: -webkit-grabbing;
        }
        div{
            height: 350px;
            max-height: 60vh;
        }
    }
}
