/* Newsletter */

.newsletter{
    padding: 60px 0 55px;
    overflow: hidden;
    background: $gold;
    color: $greyBlue;
    .newsletter-title{
        vertical-align: middle;
    }
    h3, p, form{
        vertical-align: middle;
    }
    h3{
        display: inline-block;
        font-family: $sourceBlack;
        color: inherit;
        width: 33.333333%;
        margin: 0;
    }
    p{
        display: inline-block;
        font-size: 1.4rem;
        color: #626262;
        width: 66.666666%;
        padding: 0 0 0 $col;
        margin: 0;
    }
    /*form{
        padding-left: $outterGutter;
    }
    fieldset{
        width: 62.35%;
    }*/
    input{
        border-bottom: 1px solid $greyBlue;
        &:-webkit-autofill{
            box-shadow: 0 0 0 1000px $gold inset;
        }
    }
    fieldset{
        display: inline-block;
        padding: 0 $outterGutter 0 0;
        position: relative;
        vertical-align: bottom;
        margin: 0;
    }
    .btn-invert{
        margin: 0;
        color: $greyBlue;
        border-color: $greyBlue;
        .before{
            color: $greyBlue;
        }
        .after{
            color: $gold;
        }
        &:hover, &:focus{
            .no-js &, .is-desktop &{
                background: $greyBlue;
                border-color: $greyBlue;
                color: $gold;
            }
            .no-js &{
                background: $greyBlue;
            }
        }
    }
}


.subscribe-form{
    display: inline-block;
    width: $col*5;
    padding: 0 $innerGutter 0 $outterGutter;
    position: relative;
    label{
        left: 35px;
    }
    input{
        &[type=text], &[type=email]{
            width: 62.35%;
            margin: 0 $outterGutter 0 0;
        }
        &[type=submit]{
            width: auto;
        }
    }
    + .response{
        width: $col*6;
        padding: 5px $innerGutter 0 25px;
        float: right;
        font-size: 1.2rem;
        line-height: 1.2;
        color: $magazine;
        p{
            width: 52%;
            padding: 0;
            font-size: 1.2rem;
            line-height: 1.2;
            color: $portfolio;
        }
    }
}
