.spotlight-post {
    display: flex;
    align-items: center;
    margin: 65px 0 0;
    > div {
        width: 50%;
    }
    .txt {
        padding: 0 0 0 $col;
    }
}

.home-posts {
    display: flex;
    justify-content: space-between;
    margin: 65px 0 0;
    font-size: 1.2rem;
    > div {
        width: 27%;
    }
}
.home-posts-link {
    margin: 60px 0 85px;
    text-align: center;
}

.post {
    display: flex;
    align-items: center;
}

.date {
    font-size: 1.3rem;
    font-weight: 900;
    text-transform: uppercase;
    color: $secondary;
    + .h2,
    + .h6 {
        margin-top: 0;
    }
}
