.spotlight-post {
    margin: 65px 0 0;
    .blog & {
        margin-bottom: 60px;
    }
}

.home-posts {
    display: flex;
    justify-content: space-between;
    margin: 65px 0 0;
    font-size: 1.2rem;
    > div {
        width: 27%;
    }
}
.home-posts-link {
    margin: 60px 0 85px;
    text-align: center;
}

.read-also-posts {
    padding: 80px 0;
    font-size: 1.2rem;
    background: $grey;
    .container {
        > div {
            margin: 0 0 60px;
        }
    }
}

.post {
    padding: 50px 0;
    position: relative;
    font-size: 1.2rem;
    z-index: 1;
    &:nth-of-type(even) {
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: -50vw;
            right: -50vw;
            bottom: 0;
            z-index: -1;
            background: $grey;
        }
    }
    .img {
        margin: 0 0 50px;
    }
}

.date {
    display: block;
    margin: 0 0 5px;
    font-size: 1.3rem;
    font-weight: 900;
    text-transform: uppercase;
    color: $secondary;
    + .h2,
    + .h6 {
        margin-top: 0;
    }
}

.post-wrapper {
    padding: 30px 0 60px;
}

.post-content {
    > *:first-child {
        margin-top: 0;
    }
}

.post-sidebar {
    ul {
        margin: 30px 0 0;
        font-size: 1.2rem;
        list-style: none;
    }
    li {
        margin: 0 0 50px;
    }
    .date {
        margin-top: 25px;
    }
    .h6 {
        margin: 0 0 10px;
    }
    p {
        margin-top: 0;
    }
}

@media (min-width: $tablet) {
    .post {
        display: flex;
        align-items: center;
        .img {
            width: $col * 4;
            margin: 0 $col 0 0;
        }
        .txt {
            width: $col * 7;
        }
    }

    .post-wrapper {
        display: flex;
    }

    .post-sidebar {
        width: $col * 3;
        margin: 0 0 0 $col;
        flex-shrink: 0;
    }

    .read-also-posts {
        .container {
            display: flex;
            justify-content: space-between;
            > div {
                width: 30%;
                margin: 0;
            }
        }
    }
}

@media (min-width: $desktop-small) {
    .post {
        .img {
            width: $col * 3;
            margin: 0 $col;
        }
    }

    .read-also-posts {
        padding: 80px;
        .container {
            > div {
                width: 27%;
            }
        }
    }

    .spotlight-post {
        display: flex;
        align-items: center;
        > div {
            width: 50%;
        }
        .txt {
            padding: 0 0 0 $col;
        }
        .img {
            display: flex;
            justify-content: flex-end;
        }
        img {
            max-width: 50vw;
        }
    }
}
