.contact-wrapper {
    padding: 75px 0 95px;
    text-align: center;
    background: $grey;
}

.contact {
    display: flex;
    justify-content: space-around;
    > div {
        width: 34%;
        padding: 50px 60px;
        border-radius: 4px;
        background: #fff;
        box-shadow: 0 1px 86px 0 rgba(#c7c7c7, 0.4);
    }
    .title-maj {
        margin-top: 0;
    }
}

.form-to-open {
    display: none;
}
