/* Header */

.header {
    font-size: 0.9rem;
    text-transform: uppercase;
    background: $primary;
    color: #fff;
}

.header-content,
.menu-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo {
    width: 50px;
    svg {
        fill: #fff;
    }
}

.menu-main {
    margin: 0;
    font-weight: 900;
    li {
        margin: 0 6px;
    }
    a {
        padding: 0 26px;
    }
    .sub-menu {
        display: none;
    }
}

.burger {
    display: none;
}

.title-wrapper {
    display: flex;
    height: 205px;
    align-items: center;
    justify-content: center;
    background: $primary;
    color: #fff;
}
