/* Header */

.header {
    padding: 25px 0;
    font-size: 1.3rem;
    background: $primary;
    color: #fff;
    a {
        color: inherit;
    }
    ul {
        list-style: none;
    }
}

.header-content,
.menu-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 65px;
    svg {
        fill: #fff;
    }
}

.menu-main {
    margin: 0;
    text-transform: uppercase;
    li {
        margin: 0 6px;
    }
    a {
        padding: 0 26px;
    }
    .sub-menu {
        display: none;
    }
}

.burger {
    display: none;
}

.title-wrapper {
    display: flex;
    min-height: 270px;
    padding: 50px 0;
    margin: 0 0 50px;
    align-items: center;
    justify-content: center;
    background-color: $primary;
    background-size: cover;
    background-position: 50% 50%;
    text-align: center;
    color: #fff;
}

@media (min-width: $tablet) {
    .title-wrapper {
        margin: 0 0 110px;
    }
}
