.portfolio-wrapper {
    padding: 0 0 100px;
}

.portfolio-filters {
    display: flex;
    margin: 0 $gutter/-2;
    font-weight: 900;
    ul {
        list-style: none;
    }
    li {
        margin: 0 $gutter/2 5px;
    }
    .form-search {
        width: 66%;
        margin: 10px 0 50px;
    }
}

.btn-filter {
    padding: 5px 30px 5px 20px;
    border-left: 5px solid transparent;
    position: relative;
    &:hover,
    &:focus,
    &.on {
        color: $secondary;
    }
    &.on {
        border-color: $secondary;
        .icon {
            opacity: 1;
        }
    }
    .icon {
        width: 8px;
        height: 8px;
        position: absolute;
        top: 0;
        right: 0;
        pointer-events: none;
        color: $secondary;
        opacity: 0;
    }
}

.portfolio-fields {
    display: flex;
    flex-wrap: nowrap;
}

.portfolio-content {
    margin: 0 -10px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    text-align: center;
    line-height: 1;
    list-style: none;
    > li {
        width: 33%;
        padding: 10px;
        margin: 0;
        &.off {
            display: none;
        }
        &.s-off {
            display: none;
        }
    }
    .transfered {
        a {
            &:after {
                content: none;
            }
        }
    }
    a {
        display: block;
        height: 0;
        padding: 0 0 83%;
        border: 2px solid $primary;
        position: relative;
        z-index: 1;
        background: $primary;
        color: $tertiary;
        &:after {
            content: '';
            position: absolute;
            top: -2px;
            left: -2px;
            right: -2px;
            bottom: -2px;
            z-index: -1;
            background: #fff;
            opacity: 0.2;
            transition: $transition;
        }
        > svg {
            height: 50%;
            margin: auto;
        }
        path,
        polygon,
        rect,
        ellipse,
        circle,
        line,
        polyline {
            transition: $transition;
        }
        &:not(:hover) {
            path,
            polygon,
            rect,
            ellipse,
            circle,
            line,
            polyline {
                fill: #fff;
            }
        }
        &:hover {
            background: #fff !important;
            &:after {
                opacity: 0;
            }
        }
    }
    a > svg,
    .content-transfered {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    svg {
        width: 55%;
    }
    span {
        width: 100%;
    }
    .content-transfered {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 25px 0;
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 25%;
        }
        svg {
            height: 100%;
        }
    }
}

.portfolio-detail {
    margin: 0 0 50px;
    background: $primary;
    color: #fff;
}

.portfolio-detail-content {
    display: flex;
    align-items: flex-start;
    padding-top: 100px;
    padding-bottom: 75px;
}

.portfolio-header {
    width: $col * 3;
    margin: 0 $col 0 0;
    flex-shrink: 0;
}

.portfolio-logo {
    height: 0;
    padding: 0 0 77%;
    position: relative;
    margin: 0 0 25px;
    background: #fff;
    > img {
        max-width: 60%;
        max-height: 60%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
}

.portfolio-text {
    > p {
        &:first-of-type {
            margin-top: 0;
        }
    }
}

.portfolio-close {
    width: $col;
    flex-shrink: 0;
    text-align: right;
    button {
        font-weight: 900;
        color: $tertiary;
    }
}

@media (min-width: $tablet) {
    .portfolio-filters {
        display: block;
        margin: 0;
        ul {
            margin: 10px 0 40px;
        }
        li {
            margin: 0 0 15px;
        }
    }

    .portfolio-fields {
        display: initial;
    }

    .portfolio-wrapper {
        display: flex;
        padding: 0 0 150px;
    }

    .portfolio-filters {
        width: 25%;
    }

    .portfolio-content {
        width: 75%;
        margin: 0;
    }
}

@media (min-width: $desktop-small) {
    .portfolio {
        > li {
            width: 25%;
        }
    }
}
