.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    > div {
        width: 20%;
    }
}

.team-member {
    span {
        display: block;
    }
}

.team-desc {
    display: none;
}
