.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -12px;
    text-align: center;
    .name,
    .function {
        display: block;
        font-weight: 900;
    }
    .name {
        font-family: $roboto;
    }
    .function {
        color: $secondary;
    }
}

.member {
    width: 50%;
    padding: 0 12px 60px;
}

.team-member {
    font-weight: 900;
    letter-spacing: 0.03em;
    &:hover,
    &:focus,
    &.off {
        opacity: 0.7;
    }
    .name {
        padding: 30px 0 0;
        font-size: 1.6rem;
    }
    .function {
        font-size: 1.2rem;
    }
}

.share-team {
    justify-content: center;
    > li {
        margin: 0 10px;
    }
    a {
        &:hover,
        &:focus {
            color: $secondary;
        }
    }
}

.team-desc {
    display: none;
}

.wrapper-desc {
    width: 100%;
    padding-top: 120px;
    margin-top: -120px;
    position: relative;
    .team-desc {
        display: block;
        padding: 0 $col * 2 85px;
    }
    .name {
        font-size: 3.4rem;
    }
    .function {
        font-size: 2.3rem;
    }
}

.team-btn {
    width: 14px;
    height: 28px;
    position: absolute;
    top: 0;
    bottom: 80px;
    margin: auto;
    color: $secondary;
    .icon {
        height: 100%;
    }
    &:hover,
    &:focus {
        color: $quaternary;
    }
    &.prev {
        left: 0;
    }
    &.next {
        right: 0;
    }
}

@media (min-width: $phone) {
    .member {
        width: 33.33%;
    }
}

@media (min-width: $desktop-small) {
    .member {
        width: 20%;
    }
}
