/* Grid */

#main{
    padding: 15px 0 5px;
    position: relative; // to stay above content-header
    z-index: 10;
    background: #fff;
}
.js{
    #contentHeader + #main{
        margin: 495px 0 0; // height of content-header
    }
}

.container{
    max-width: 1420px;
    padding: 0 $outerGutter;
    margin: 0 auto;
}

.container-small{
    margin: 0 $col;
    padding: 0 $innerGutter;
}

.flex-container{
    display: flex;
    justify-content: space-between;
}

.grid{
    margin: 0 $innerGutter*-1;
}

[class*='col-']{
    display: inline-block;
    padding: 0 $innerGutter;
    vertical-align: top;
    &.centered{
        margin: 0 auto;
    }
    &.no-padding{
        padding: 0;
    }
    &.no-padding-right{
        padding-right: 0;
    }
    &.no-padding-left{
        padding-left: 0;
    }
}

.col-1{
    width: $col;
    .container-small &{
        width: $colSmall;
    }
}
.col-2{
    width: $col*2;
    .container-small &{
        width: $colSmall*2;
    }
}
.col-3{
    width: $col*3;
    .container-small &{
        width: $colSmall*3;
    }
}
.col-4{
    width: $col*4;
    .container-small &{
        width: $colSmall*4;
    }
}
.col-5{
    width: $col*5;
    .container-small &{
        width: $colSmall*5;
    }
}
.col-6{
    width: $col*6;
    .container-small &{
        width: $colSmall*6;
    }
}
.col-7{
    width: $col*7;
    .container-small &{
        width: $colSmall*7;
    }
}
.col-8{
    width: $col*8;
    .container-small &{
        width: $colSmall*8;
    }
}
.col-9{
    width: $col*9;
    .container-small &{
        width: $colSmall*9;
    }
}
.col-10{
    width: $col*10;
    .container-small &{
        width: $colSmall*10;
    }
}
.col-11{
    width: $col*11;
}
