/* Header */

#header{
    @include clearfix;

    width: 100%;
    height: 107px;
    padding: 28px 0;
    border-bottom: 1px solid transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    font-family: $avalonBold;
    font-size: 1.8rem;
    color: #fff;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    transition: $transition;
    .container{
        position: relative;
        &:before{
            content: '';
            position: absolute;
            top: -50px;
            left: 0;
            right: 0;
            bottom: -20px;
            z-index: 1;
            background: $darkBlue;
            opacity: 0;
            transition: $transition;
            .menu-open &{
                opacity: 1;
            }
        }
    }
    a{
        display: inline-block;
        color: inherit;
        transition: opacity $transition;
    }
    .form-search{
        opacity: 0;
        pointer-events: none;
        width: 165px;
        height: 58px;
        padding: 15px 17px;
        min-width: 150px;
        margin: 0;
        z-index: 10;
        label{
            font-size: 1.3rem;
        }
        input{
            position: absolute;
            left: 5px;
            width: calc(100% - 10px);
            padding-right: 45px;
            .menu-open &{
                color: #fff !important;
                border-color: #fff !important;
            }
        }
        input, label{
            opacity: 0;
        }
        &.on{
            input, label{
                opacity: 1;
            }
            .btn-search{
                width: 0;
                span{
                    display: none;
                }
            }
        }
        .menu-open &{
            opacity: 1;
            pointer-events: auto;
        }
    }
    .btn-search{
        height: 14px;
        top: 22px;
        right: 15px;
        transition: color $transition;
        text-transform: none;
        .menu-open &{
            color: #fff !important;
            &:after{
                color: #fff !important;
            }
        }
    }
    .post-title{
        @include ellipsis;

        max-width: 50%;
        position: absolute;
        top: 40px;
        left: $col;
        margin: 0 0 0 165px;
        opacity: 0;
        transition: $transition, background .2s ease;
    }
    &.fixed, .no-js &{
        border-color: $greyLight;
        background: #fff;
        color: $darkBlue;
        transform: translate3d(0, -10px, 0);
        #logo-alven{
            svg path{
                fill: $darkBlue;
            }
        }
        .read-indicator{
            opacity: 1;
            .menu-open &{
                opacity: 0;
            }
        }
        #burger{
            &:before, &:after, span{
                background: $darkBlue;
            }
        }
        .form-search{
            opacity: 1;
            pointer-events: auto;
            .js &{
                input:focus + label, input.filled + label{
                    transform: translate3d(0, -100%, 0);
                }
            }
        }
        &.on{
            .single &{
                .post-title, #menu-main{
                    transform: translate3d(0, -25px, 0);
                }
                .post-title{
                    opacity: 1;
                }
                #menu-main{
                    li:not(.current-menu-item):not(.current_page_parent){
                        opacity: 0;
                    }
                }
            }
        }
        .menu-open &{
            color: #fff;
            #burger{
                &:before, &:after, span{
                    background: #fff;
                }
            }
            #logo-alven{
                svg{
                    path{
                        fill: $gold;
                    }
                }
            }
        }
    }
    .menu-open &{
        height: 102%;
    }
    .page-template-default &, .single-post &{
        border-width: 3px;
    }
}

.read-indicator{
    height: 3px;
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    transform-origin: 0 0;
    transform: scaleX(0);
    transition: opacity $transition;
    opacity: 0;
    background: $blue;
    .no-js &{
        display: none;
    }
}

#logo-alven{
    box-shadow: none;
    display: inline-block;
    position: absolute;
    right: 20px;
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: middle;
    width: $col*2;
    z-index: 10;
    svg{
        path{
            fill: $gold;
            fill-rule: evenodd;
            transition: fill 0.2s;
        }
    }
}

#menu-responsive, #burger{
    display: none;
}

#burger{
    width: 30px;
    height: 20px;
    border: 0;
    position: absolute;
    right: 20px;
    z-index: 10;
    &:before, &:after{
        content: '';
    }
    &:before, &:after, span{
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        border-radius: 2px;
        background: #fff;
        transform: translate3d(0, 0, 0);
        transition: .1s ease-in-out;
    }
    &:before{
        top: 0;
    }
    &:after{
        top: 9px;
    }
    span{
        display: block;
        top: 18px;
        text-indent: -99em;
        overflow: hidden;
    }
    .menu-open &{
        &:before{
            transform: translate3d(0, 9px, 0) rotate(135deg);
        }
        &:after{
            width: 0;
            transform: translate3d(0, -10px, 0);
        }
        span{
            transform: translate3d(0, -9px, 0) rotate(-135deg);
        }
    }
}

#menu-responsive{
    width: 100%;
    height: 100%;
    padding: 100px 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background: $darkBlue;
    transform: translate3d(0, -100%, 0);
    transition: $transition;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    > div{
        width: 100%;
        position: absolute;
        top: 55%;
        transform: translate3d(0, -50%, 0);
    }
    .menu-small{
        &:nth-child(3), &:last-child{
            margin-bottom: 0;
        }
    }
    .menu-open &{
        overflow: scroll;
        transform: translate3d(0, 0, 0);
    }
}

#menu-main{
    display: inline-block;
    width: $col*6;
    position: relative;
    vertical-align: middle;
    margin: 0 0 0 $col;
    z-index: 1;
    box-sizing: content-box;
    white-space: nowrap;
    transform: translate3d(0, 0, 0);
    transition: transform $transition;
    ul{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    li{
        display: inline-block;
        margin: 0;
        padding: 0 $innerGutter;
        width: 33.333%;
        position: relative;
        transition: opacity $transition;
    
        @include pseudoCross;
        &:after{
            content: '\e90b';
            left: -18px;
            top: 0;
            bottom: 0;
            margin: auto;
            color: inherit;
        }
        &:before{
            content: none;
        }
        &.current-menu-item, &.current_page_parent{
            color: $blue;
            a{
                box-shadow: none;
                &:before, &:after{
                    display: none;
                }
            }
            &:after{
                width: 30px;
            }
        }
        > a{
            color: inherit !important;
            &:after, &:before{
                bottom: 2px;
            }
        }
    }
    a{
        @extend .btn-arrow;

        font-family: $avalonMedium !important;
        font-style: normal !important;
    }
}
