/* Section */

.section-header{
    width: $col*8;
    padding: 0 $innerGutter;
    margin: 0 auto 60px;
    text-align: center;
}

.section-title{
    width: auto;
    padding: 0 $outterGutter;
    margin: 1.75em 0 0;
    font-family: $avalonBold;
    font-size: 5.2rem;
    line-height: 1;
    color: $darkBlue;
    font-style: normal;
    .contact-us &{
        margin-top: 0;
    }
    + .subtitle{
        display: block;
        font-family: $arvo;
        font-weight: normal;
        font-size: 2.2rem;
        padding: 0 $outterGutter 30px;
        border-bottom: 1px solid $greyBorder;
        position: relative;
        margin: 0 0 30px;
        text-align: center;
        text-transform: none;
        &:before, &:after{
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
        }
        &:after{
            @include fontIcon();

            content: '\e90a';
            width: 22px;
            height: 15px;
            bottom: -8px;
            font-size: 15px;
            color: $blue;
        }
        &:before{
            content: '';
            width: 35px;
            height: 1px;
            background: #fff;
            bottom: -1px;
        }
    }
}
