// Variables //


// Grid

$outterGutter: 20px;
$innerGutter: 10px;
$col: 100/12*1%;
$colSmall: 100/10*1%;
/*$col: round(100/12*1%);
$colSmall: round(100/10*1%);*/


// Colors

$txt: #636a6b;
$title: #404040;
$chapo: #303b3d;

$magazine: #23afa9;
$portfolio: #03cfff;
$we: #dbc045;

$gold: #fde98f;
$goldDark: #dbc045;

$grey: #042f3e;
$greyMedium: #636a6b;
$greyLight: #ccd1d2;
$greyBorder: #e5e8e8;
$greyBlue: #26393d;

$focus: #28626F;


// Transitions

$transitionFunction: cubic-bezier(0.75, 0, 0.125, 1);
$transition: .25s $transitionFunction;


// Fonts

$merriweather: 'merriweather', sans-serif;
$merriweatherBold: 'merriweather-bold', $merriweather;
$merriweatherIt: 'merriweather-italic', $merriweather;
$merriweatherBoldIt: 'merriweather-bolditalic', $merriweather;

$source: 'source', $merriweather;
$sourceLight: 'source-light', $merriweather;
$sourceSemiBold: 'source-semi-bold', $merriweatherBold;
$sourceBold: 'source-bold', $merriweatherBold;
$sourceBlack: 'source-black', $merriweatherBold;
