// Variables //


// Grid

$outterGutter: 20px;
$innerGutter: 10px;
$col: 100/12*1%;
$colSmall: 100/10*1%;


// Colors

$darkBlue: #003240;
$blue: #23afa9;
$gold: #fde98f;

$greyMedium: #636a6b;
$greyLight: #ccd1d2;
$greyBorder: #e5e8e8;


// Transitions

$transitionFunction: cubic-bezier(0.75, 0, 0.125, 1);
$transition: .25s $transitionFunction;


// Fonts

$arvo: 'Arvo', serif;

$avalonMedium: 'avalonmedium', sans-serif;
$avalonMediumOblique: 'avalonmedium_oblique', $avalonMedium;
$avalonMediumBold: 'avalon_mediumbold', $avalonMedium;
$avalonBold: 'avalonbold', $avalonMedium;
