/* Home */


.home{
    h1{
        display: inline-block;
        padding: 0 $innerGutter 0 $col;
        vertical-align: middle;
        margin-left: 0;
        margin-right: 0;
        text-align: right;
    }
    #menu-main{
        opacity: 0;
    }
    #header{
        &.fixed{
            #menu-main{
                opacity: 1;
            }
        }
    }
}

.menu-home{
    display: inline-block;
    width: $col*6;
    padding: 0 $innerGutter;
    vertical-align: middle;
}
