/* Home */


.home{
    h1{
        display: inline-block;
        padding: 0 $innerGutter 0 $col;
        vertical-align: middle;
        margin: 10vh 0;
        text-align: right;
    }
    #menu-main{
        opacity: 0;
    }
    #header{
        &.fixed{
            #menu-main{
                opacity: 1;
            }
        }
    }
    .theme-we{
        position: relative;
        z-index: 1;
    }
}

.menu-home{
    display: inline-block;
    width: $col*4;
    padding: 0 $innerGutter;
    vertical-align: middle;
    margin: 0 $col;
    font-family: $sourceLight;
    color: #fff;
    li{
        margin: 0;
        padding: 0 0 25px;
        &:before{
            display: none;
        }
        &:last-child{
            padding-bottom: 0;
        }
    }
    span{
        display: block;
        font-size: 1.8rem;
        line-height: 0.8;
        letter-spacing: -0.03em;
    }
    a{
        color: inherit;
    }
}
