/* Home specific style */

.main-title-home {
    font-size: 2rem;
    line-height: 1.2;
    color: #fff;
    > strong {
        font-size: 3rem;
    }
}

.philo {
    padding: 0 0 85px;
    text-align: center;
    .title-maj {
        margin-top: 0;
    }
    strong {
        color: $secondary;
    }
}

.philo-list {
    margin: 80px 0 0;
    list-style: none;
    text-transform: uppercase;
    li {
        margin: 0 0 50px;
        &:nth-child(2) {
            a {
                &:before {
                    background-image: url(../../img/manifesto.svg);
                }
            }
        }
        &:nth-child(3) {
            a {
                &:before {
                    background-image: url(../../img/history.svg);
                }
            }
        }
    }
    a {
        display: block;
        color: inherit;
        &:before {
            content: '';
            display: block;
            width: 85px;
            height: 85px;
            margin: 0 auto 35px;
            border-radius: 50%;
            background: url(../../img/thesis.svg) no-repeat;
            background-size: 100%;
            box-shadow: 0 1px 26px 0 rgba($primary, 0.08);
        }
        &:hover,
        &:focus {
            opacity: 0.7;
        }
    }
}

.team-wrapper {
    padding: 75px 0 95px;
    margin: 0 0 75px;
    background: $grey;
}

.team {
    margin: 75px 0 0;
    text-align: center;
}

@media (min-width: $phone) {
    .main-title-home {
        font-size: 3.8rem;
        > strong {
            font-size: 5.3rem;
        }
    }

    .philo-list {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        li {
            width: 30%;
            margin: 0 $gutter;
        }
    }
}

@media (min-width: $desktop-small) {
    .philo-content {
        width: $col * 8;
        margin: 0 auto;
    }
}

@media (min-width: $desktop) {
    .philo-content {
        width: $col * 6;
    }

    .team {
        display: flex;
        align-items: center;
        text-align: left;
        > div {
            width: 50%;
        }
        .txt {
            padding: 0 0 0 $col;
        }
        .img {
            > div {
                float: right;
            }
        }
        img {
            max-width: 50vw;
        }
    }
}
