/* Home specific style */

.main-title-home {
    font-size: 3.8rem;
    line-height: 1.2;
    color: #fff;
    transform: translate3d(0, -220px, 0);
    > strong {
        font-size: 5.3rem;
    }
}

.philo {
    padding: 85px 0;
    text-align: center;
    background: $grey;
    .title-maj {
        margin-top: 0;
    }
    strong {
        color: $secondary;
    }
}

.philo-content {
    width: $col * 6;
    margin: 0 auto;
}

.philo-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    list-style: none;
    text-transform: uppercase;
    li {
        margin: 0 $gutter * 2;
    }
    a {
        color: inherit;
    }
}

.team-wrapper {
    padding: 75px 0 95px;
}

.team {
    display: flex;
    margin: 75px 0 0;
    align-items: center;
    > div {
        width: 50%;
    }
    .txt {
        padding: 0 0 0 $col;
    }
    .img {
        display: flex;
        justify-content: flex-end;
    }
    img {
        max-width: 50vw;
    }
}
