/* Forms */

::-webkit-input-placeholder{
}
::-moz-placeholder{
}
:-ms-input-placeholder{
}

form{
    div{
        display: inline-block;
        width: 50%;
        position: relative;
        vertical-align: top;
        padding: 0 $innerGutter;
        margin: 40px 0 0;
        &.large{
            width: 230px;
            max-width: 100%;
        }
        &.full{
            width: 100%;
            input{
                max-width: 55%;
            }
        }
        label{
            left: 25px;
            right: 25px;
        }
    }
}

fieldset{
    margin: 50px 0 0;
    &:first-of-type{
        margin: 0;
    }
}

legend{
    display: block;
    width: 100%;
    width: calc(100% - 20px);
    padding: 0 0 10px;
    border-bottom: 1px solid;
    position: relative;
    margin: 0 0 10px $innerGutter;
    font-size: 1.8rem;
    font-family: $sourceLight;
    line-height: 1.3;
    color: $title;
    opacity: 0.5;
    transition: $transition;
    span{
        display: block;
        font-family: $sourceSemiBold;
    }
    .js &{
        cursor: pointer;
        &:hover{
            opacity: 1;
        }
        &.active{
            cursor: default;
        }
    }
    &.active, .no-js &{
        opacity: 1;
        @include pseudoCross($title);

        &:before{
            left: -17px;
            bottom: -8px;
        }
        &:after{
            left: -34px;
            bottom: -1px;
        }
    }
}
.form-title{
    display: block;
    margin: 20px 0 25px $innerGutter;
    font-size: 1.8rem;
    font-family: $sourceLight;
    + div{
        margin-top: 0;
    }
}

label{
    position: absolute;
    top: 7px;
    left: 15px;
    right: 15px;
    font-family: $merriweatherIt;
    font-size: 1.4rem;
    line-height: 1;
    cursor: text;
    transform: translate3d(0, 0, 0);
    transition: $transition;
    .no-js &{
        transform: translate3d(0, -180%, 0);
    }
    .js &{
        opacity: 0;
    }
}

input, textarea, select, button{
  	transition: $transition;
  	&:focus{
      	outline: 0;
  	}
}

input, textarea{
    width: 100%;
    padding: 5px 15px;
    position: relative;
    z-index: 1;
    font-family: $merriweather;
    font-size: 16px;
    color: $greyBlue;
  	&:-webkit-autofill{
      	box-shadow: 0 0 0 1000px $gold inset;
  	}
    &:hover{
        opacity: 0.7;
        + label{
            opacity: 0.7;
        }
    }
    &:focus{
        opacity: 1;
        + label{
            opacity: 1;
            .js &{
                transform: translate3d(0, -180%, 0);
            }
        }
    }
    &.filled{
        + label{
            transform: translate3d(0, -180%, 0);
        }
        &:invalid{
            border-color: $magazine;
            + label{
                color: $magazine;
            }
        }
        &:valid{
            border-color: $portfolio;
            + label{
                color: $portfolio;
            }
        }
    }
    &.invalid{
        border-color: $magazine;
        + label{
            color: $magazine;
        }
    }
}

textarea{
    height: 150px;
    border: 1px solid $greyBlue;
}

input{
    border: 0;
    border-bottom: 1px solid $greyBlue;
    &[type=search]{
        &::-webkit-search-cancel-button, &::-webkit-search-decoration{
            display: none;
        }
    }
    &[type=file]{
        padding: 0;
        border: 0;
        cursor: pointer;
        + label{
            opacity: 0 !important;
        }
    }
}

button{
    color: $title;
    &[type=submit]{
        margin-top: 25px;
        margin-left: $innerGutter;
    }
}

select{
    // hide the arrow on edge + ie
    &::-ms-expand{
        display: none;
    }
}

.form-desc{
    display: inline-block;
    padding: 0 0 0 $outterGutter;
    max-width: 45%;
    vertical-align: top;
    font-size: 1.4rem;
    font-family: $merriweatherIt;
    line-height: 1.2;
}

.form-search{
    display: inline-block;
    max-width: 300px;
    position: relative;
    margin: 50px 0;
    vertical-align: middle;
    .btn-search{
        position: absolute;
        top: 7px;
        right: 0;
    }
}
