/* Header */

#header{
    @include clearfix;

    width: 100%;
    padding: 45px 0 30px;
    border-bottom: 3px solid transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    font-family: $sourceBold;
    font-size: 1.8rem;
    letter-spacing: -0.04em;
    color: #fff;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    transition: $transition;
    .container{
        position: relative;
    }
    a{
        display: inline-block;
        color: inherit;
        transition: opacity $transition;
    }
    .btn-arrow{
        &:after{
            bottom: 2px;
        }
        &:before{
            bottom: -1px;
        }
    }
    .btn-search{
        float: right;
        margin-top: 9px;
        margin-bottom: 9px;
    }
    .post-title{
        @include ellipsis;

        max-width: 50%;
        position: absolute;
        top: 25px;
        left: $col*3;
        margin: 0 0 0 -12px;
        opacity: 0;
        transition: $transition, background .2s ease;
    }
    &.fixed{
        border-color: $greyLight;
        background: #fff;
        color: $title;
        transform: translate3d(0, -10px, 0);
        #logo{
            background-image: url(../layoutImg/alven-grey.png);
        }
        .read-indicator{
            opacity: 1;
        }
        &.on{
            .single &{
                .post-title{
                    opacity: 1;
                    transform: translate3d(0, -25px, 0);
                }
                #menu-main{
                    transform: translate3d(0, -25px, 0);
                    li:not(.active){
                        opacity: 0;
                    }
                }
            }
        }
    }
}

.read-indicator{
    @include themeBg;

    height: 3px;
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    transform-origin: 0 0;
    transform: scaleX(0);
    transition: opacity $transition;
    opacity: 0;
}

#logo{
    display: inline-block;
    width: $col*2;
    height: 31px;
    vertical-align: middle;
    background: url(../layoutImg/alven.png) no-repeat;
    text-indent: -99em;
    overflow: hidden;
    box-shadow: none;
}

#menu-main{
    display: inline-block;
    width: $col*6;
    vertical-align: middle;
    margin: 0 0 0 $col;
    box-sizing: content-box;
    transform: translate3d(0, 0, 0);
    transition: transform $transition;
    ul{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    li{
        display: inline-block;
        padding: 0 $innerGutter;
        width: 33.333%;
        position: relative;
        transition: opacity $transition;
        &:before{
            width: 1px;
            height: 16px;
            border-radius: 0;
            left: -18px;
        }
        &:after{
            content: '';
            width: 16px;
            height: 1px;
            left: -25px;
        }
        &:before, &:after{
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
        }
        &:nth-child(1){
            &:before, &:after{
                background: $magazine;
            }
        }
        &:nth-child(2){
            &:before, &:after{
                background: $portfolio;
            }
        }
        &:nth-child(3){
            &:before, &:after{
                background: $we;
            }
        }
        &.active{
            a{
                box-shadow: none;
                &:before, &:after{
                    display: none;
                }
            }
            &:before{
                display: none;
            }
            &:after{
                width: 30px;
            }
            &:nth-child(1){
                color: $magazine;
            }
            &:nth-child(2){
                color: $portfolio;
            }
            &:nth-child(3){
                color: $we;
            }
        }
    }
}
