.wrapper-interactive-blocks{
	padding: 20px 0 140px;
}

.interactive-block{
	margin: 0 0 0 $col;
	&.align-right{
		margin: 0 $col 0 0;
	}
	h3{
		font-family: $sourceBlack;
		letter-spacing: -1px;
		font-size: 3.8rem;
		margin: 0 0 20px;
	}
	p{
		font-size: 1.4rem;
		margin: 0 0 30px;
		line-height: 1.3;
	}
}

.contact-us{
	.subtitle{
		color: $title;
	}
	.section-title{
		+ .subtitle{
			.theme-portfolio &{
				&:before, &:after{
					background: $title;
				}
			}
		}
	}
	.btn{
		.theme-portfolio &{
			background: $gold;
			border-color: $gold;
			color: $title;
			.before, .after{
				color: $title;
			}
			&:hover, &:focus{
				.no-js &, .is-desktop &{
					color: $title;
					border-color: $title;
				}
			}
		}
	}
}
