.wrapper-interactive-blocks{
	padding: 20px 0 140px;
}

.interactive-block{
	margin: 0 $col;
	transition: $transition;
	&:first-of-type{
		&.on{
			margin-left: $col*2;
		}
		&.off{
			margin-left: 0;
		}
	}
	&:last-of-type{
		&.on{
			margin-right: $col*2;
		}
		&.off{
			margin-right: 0;
		}
	}
	h3{
		font-family: $sourceBlack;
		letter-spacing: -1px;
		font-size: 3.8rem;
		margin: 0 0 20px;
	}
	p{
		font-size: 1.4rem;
		margin: 0 0 30px;
		line-height: 1.3;
	}
}

.contact-us{
	.subtitle{
		color: $title;
	}
	.section-title{
		+ .subtitle{
			.theme-portfolio &{
				&:before, &:after{
					background: $title;
				}
			}
		}
	}
	.btn{
		.theme-portfolio &{
			background: $gold;
			border-color: $gold;
			color: $title;
			.before, .after{
				color: $title;
			}
			&:hover, &:focus{
				.no-js &, .is-desktop &{
					color: $title;
					border-color: $title;
				}
			}
		}
	}
}


.open-form{
	.no-js &{
		display: none;
	}
}

.form-to-open{
	opacity: 0;
	transition: opacity $transition;
	.js &{
		display: none;
	}
	.on &{
		opacity: 1;
	}
	button{
		.js &{
			opacity: 0.5;
			cursor: default;
			pointer-events: none;
		}
		&.on{
			opacity: 1;
			cursor: pointer;
			pointer-events: auto;
		}
	}
}

.form-section{
	.js &{
		display: none;
	}
}
