/* Responsive horizontal */
@media (max-width: 1420px){
    h1{
        width: $col*8;
    }

    blockquote{
        margin-left: $colSmall;
        margin-right: $colSmall;
    }

    .spotlight-post{
        h4{
            font-size: 2.1rem;
        }
        > div{
            padding: 0 15px 20px;
        }
    }

    .read-also-posts{
        h4{
            font-size: 2.8rem;
        }
    }
}


@media (max-width: 1150px){
    h1{
        font-size: 5rem;
    }

    .container-small{
        padding: 0;
        margin: 0;
    }
}

@media (max-width: 979px){
    h1{
        font-size: 4.2rem;
    }

    h2{
        width: $col*10;
    }

    .post-sidebar{
        display: none;
    }

    .content-default{
        &.col-8{
            width: 100%;
        }
    }

    .read-also-posts{
        h4{
            font-size: 2.2rem;
        }
    }
}

@media (max-width: 767px){
    body{
        font-size: 1.4em;
    }

    h1{
        font-size: 3.6rem;
    }

    h2{
        font-size: 1.8rem;
    }
}

@media (max-width: 480px){

}

/* retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-resolution: 288dpi) {

}


/* Print styles */

@media print {
    *{
        color: #000 !important;
    }
    a{
        text-decoration: underline;
        &[href]:after{
            content: ' (' attr(href) ')';
        }
        &[href^="#"]:after{
            content: '';
        }
    }
    img{
        max-width: 100% !important;
        page-break-inside: avoid;
    }
    @page{
        margin: .5cm;
    }
    p, h2, h3{
        orphans: 3;
        widows: 3;
    }
    h2, h3{
        page-break-after: avoid;
    }
}
