/* Portfolio */

.portfolio-list{
    position: relative;
    z-index: 1;
    background: $chapo;
    transform: translate3d(0, 15%, 0);
    &:before{
        content: '';
        height: 33%;
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        z-index: -1;
        background: #fff;
    }
    &:after{
        content: '';
        display: block;
        padding: 0 0 10%;
    }
    .grid{
        padding: $innerGutter 0;
    }
    ul{
        .js &{
            display: none;
        }
    }
    li, .po-item{
        padding: $innerGutter;
        font-family: $sourceLight;
        font-size: 1.4rem;
        text-transform: uppercase;
        color: $chapo;
        text-align: center;
        &:before{
            display: block;
            width: auto;
            height: auto;
            padding: 75% 0 0;
            position: static;
            background: none !important;
        }
        a{
            position: absolute;
            top: $innerGutter;
            left: $innerGutter;
            right: $innerGutter;
            bottom: $innerGutter;
            overflow: hidden;
            background: #fff;
            box-shadow: none;
            border: 1px solid $greyBorder;
            &:before{
                content: '';
                display: inline-block;
                width: 0;
                height: 100%;
                vertical-align: middle;
            }
            &.transfered{
                border: none;
                &:after{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba($we, 0.15);
                    border: 1px solid $greyBorder;
                }
                > img, > svg{
                    transform: translate3d(-50%, 0, 0);
                    position: absolute;
                    top: 16px;
                    left: 50%;
                }
                .hover{
                    opacity: 1;
                    transform: translate3d(0, 0, 0);
                    svg{
                        position: relative;
                        transform: translate3d(0, 0, 0);
                        top: auto;
                        left: auto;
                    }
                }
                .txt{
                    opacity: 0;
                }
            }
            &:hover, &:focus, &.on{
                opacity: 1;
                > img{
                    opacity: 0.3;
                }
                .txt{
                    opacity: 0;
                }
                svg{
                    transform: translate3d(-50%, -50%, 0) scale(1.02);
                    .st0{fill:#1F1F1D;}
                    .st1{fill:#C51632;}
                    .st2{fill:#F49A4C;}
                    .st3{fill:#E95427;}
                    .st4{fill:#C41531;}
                    .st5{fill:#7C1C16;}
                    .st6{fill:#FCE16D;}
                    .st7{fill:#E95326;}
                    .st8{fill:#C41632;}
                    .st9{fill:#7C1B15;}
                    .st10{fill:#F49A4B;}
                    .cls-1{fill:#282c38;}
                    .cls-1,.cls-2{fill-rule:evenodd;}
                    .cls-2{fill:#00cb3e;}
                    .algo-1,.algo-2{fill-rule: evenodd;}
                    .algo-2{fill: #4dafd8;}
                    .ct-1{fill:#1a2327;}.ct-2{fill:#a0a0a0;}.ct-3{fill:#4db04f;}.ct-4{fill:#1b1c1f;}
                    .tl-1{fill:#00b0ad;}
                }
                &.transfered{
                    svg{
                        transform: translate3d(-50%, 0, 0) scale(1);
                        .zone-svg{
                            //fill: #fff;
                        }
                    }
                    .hover{
                        svg{
                            transform: translate3d(0, 0, 0);
                        }
                    }
                }
                /*.hover{
                    opacity: 1;
                    transform: translate3d(0, 0, 0);
                }
                &.transfered{
                    > img{
                        transform: translate3d(0, -50px, 0);
                    }
                }*/
            }
        }
    }
    .po-item{
        padding: $innerGutter 0;
        position: relative;
        &:before{
            content: '';
        }
        &.cta{
            font-family: $sourceSemiBold;
            font-size: 2rem;
            line-height: 1;
            text-transform: none;
            color: #fff;
            a{
                background: none;
                box-shadow: none;
                border: none;
                > span{
                    display: inline-block;
                    vertical-align: middle;
                    max-width: 97%;
                }
            }
            .btn-invert{
                margin-top: 15px;
                opacity: 1 !important;
                transition: 0.45s $transitionFunction;
            }
        }
        a{
            left: 0;
            right: 0;
        }
    }
    img{
        display: inline-block;
        max-width: 65%;
        transition: 0.45s $transitionFunction;
    }
    svg{
        display: inline-block;
        max-width: 58%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(1);
        transition: 0.45s cubic-bezier(0.75, 0, 0.125, 1);
        .zone-svg{
            transition: 0.45s cubic-bezier(0.75, 0, 0.125, 1);
            fill: $chapo;
        }
    }
    .txt{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 30px;
        transition: 0.45s $transitionFunction;
    }
    .hover{
        display: block;
        position: absolute;
        //bottom: 30px;
        bottom: 16px;
        left: 0;
        right: 0;
        opacity: 0;
        transform: translate3d(0, 100%, 0);
        transition: 0.45s $transitionFunction;
        img{
            display: block;
            max-width: 70%;
            margin: 5px auto 0;
        }
    }
    .po-item-col{
        &:first-child{
            transform: translate3d(0, 17%, 0);
        }
        &:nth-child(2){
            transform: translate3d(0, -10%, 0);
        }
        &:nth-child(3){
            transform: translate3d(0, -14%, 0);
        }
        &:nth-child(4){
            transform: translate3d(0, -4.5%, 0);
        }
        &:nth-child(5){
            transform: translate3d(0, 4%, 0);
        }
        &:nth-child(6){
            transform: translate3d(0, -10%, 0);
        }
    }
    + .container{
        position: relative;
        z-index: 1;
    }
}

#ctaPortfolio{
    .js &{
        display: none;
    }
}
