/* Post */

.post-meta{
    margin: 10px 0 15px;
    time{
        font-family: $source;
        font-size: 1.2rem;
    }
    .btn-cat{
        padding-bottom: 3px;
    }
}

.post-meta-header{
    text-align: center;
    /*.share{
        margin: 4.5em 0 0;
    }*/
}

.post-meta-header, .post-meta-spotlight{
    .btn-cat{
        padding-bottom: 0;
        margin-right: 5px;
    }
    time{
        margin-left: 5px;
    }
    .btn-cat{
        font-family: $sourceLight;
        font-size: 1.8rem;
    }
}

.post-sidebar{
    margin: 0 0 50px;
    .title-small{
        padding: 0 0 0 16px;
    }
    ul{
        padding: 12px 0 0;
        margin: 6px 0 0;
        border-top: 1px solid $greyBorder;
        position: relative;

        @include pseudoCross;
        &:before{
            top: -8px;
            left: -1px;
        }
        &:after{
            left: -18px;
            top: -1px;
        }
    }
    li{
        padding-left: 0;
        &:last-child{
            @include pseudoCross;
            &:before, &:after{
                left: 0;
            }
            &:before{
                display: block;
                top: auto;
                bottom: -8px;
                border-radius: 0;
            }
            &:after{
                left: -17px;
                bottom: -1px;
            }
            .img{
                padding: 0;
                &.on{
                    padding: 0 0 74%;
                }
            }
        }
    }
    .img{
        height: 0;
        padding: 0 0 74%;
        overflow: hidden;
        transition: $transition;
        &.off{
            padding: 0;
        }
    }
    &.fixed{
        position: fixed;
    }
    &.fixedBot{
        position: absolute;
    }
}

.post-small{
    padding-bottom: 20px;
    border-bottom: 1px solid $greyBorder;
    margin: 0 0 20px;
    &:before{
        display: none;
    }
    h4{
        margin: 0;
        font-size: 1.8rem;
        line-height: 1.2;
    }
    time{
        color: $magazine;
    }
    .post-meta{
        margin: 3px 0 5px;
    }
}

.post-title{
    font-size: 2.8rem;
    color: $title;
}


.spotlight-posts{
    position: relative; // to stay above content-header
    overflow: hidden;
    z-index: 10;
    padding: 32px 0 0 0;
    background-color: #fff;
    &:before{
        content: '';
        display: block;
        position: absolute;
        top: 32px;
        right: 0;
        bottom: 0;
        left: 0;
        background: $greyMedium;
    }
    .container{
        padding-bottom: 80px;
    }
}
.spotlight-post{
    position: relative;
    &:hover{
        .no-js &, .is-desktop &{
            > div{
                transform: translate3d(0, 12px, 0);
            }
        }
    }
    > div{
        padding: 20px 30px 20px 20px;
        position: relative;
        margin: -32px 0 0;
        background: #fff;
        transform: translate3d(0, 0, 0);
        transition: $transition;
        border: 1px solid $greyBorder;
    }
    h4{
        margin: 0 0 10px;
        font-size: 2.4rem;
        word-wrap: break-word;
        color: $magazine;
    }
    p{
        margin: 0 0 10px;
        font-size: 1.4rem;
        line-height: 1.2;
        &:last-of-type{
            margin-bottom: 15px;
        }
    }
    ul{
        padding: 0;
        margin: 0 0 10px;
        font-size: 1.4rem;
        line-height: 1.4;
        li{
            margin: 0 0 5px;
            &:before{
                background: $txt;
            }
        }
    }
    .content{
        transition: $transition;
    }
    &.off{
        .content{
            opacity: 0.4;
        }
    }
}

.main-spotlight-post{
    padding: 0 0 10px;
    border-top: 1px solid $greyBorder;
    position: relative;
    margin: 0 0 45px;
    overflow: hidden;
    .home &{
        margin: 0 0 70px;
    }
    &:after{
        content: '';
        height: 10px;
        border-top: 1px solid $greyBorder;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: #fff;
    }
    .img{
        position: relative;
        vertical-align: middle;
        margin: 0 $col 0 0;
        img{
            max-width: 50vw;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 10px;
            margin: auto;
        }
    }
    .txt{
        position: relative;
        vertical-align: middle;
        margin: 4.4em 0 60px;
        z-index: 1;

        @include pseudoCross;
        &:before, &:after{
            left: 10px;
        }
        &:before{
            bottom: -68px;
        }
        &:after{
            left: -7px;
            bottom: -61px;
        }
    }
    h3{
        margin: 0;
        font-family: $sourceSemiBold;
        font-size: 4.2rem;
        letter-spacing: -0.03em;
    }
    p{
        margin: 0 0 2em;
    }
}

.post-meta-spotlight{
    margin: 10px 0 30px;
}



.read-also-posts{
    .grid{
        display: table;
        width: 100%;
        width: calc(100% + 20px);
        table-layout: fixed;
    }
    h4{
        max-width: 78%;
        margin: 0;
        font-size: 3.2rem;
    }
}
.read-also-post{
    display: table-cell;
    position: relative;
    /*time, .btn-cat{
        text-transform: none;
    }*/

    @include pseudoCross;
    &:before, &:after{
        left: 10px;
    }
    &:before{
        bottom: -68px;
    }
    &:after{
        left: -7px;
        bottom: -61px;
    }
}

.post{
    border-bottom: 1px solid $greyBorder;
    margin-bottom: 45px;
    &:first-of-type{
        padding-top: 45px;
        border-top: 1px solid $greyBorder;
    }
    .grid{
        padding: 0 0 45px;
        position: relative;

        @include pseudoCross;
        &:before{
            bottom: -8px;
            left: $col;
            margin: 0 0 0 -1px;
        }
        &:after{
            left: $col;
            bottom: -1px;
            margin: 0 0 0 -18px;
        }
    }
    .img{
        padding: 0 $col;
    }
    h3, .post-meta{
        margin: 0 0 8px;
    }
    h3{
        font-family: $sourceSemiBold;
        font-size: 3.2rem;
    }
    p{
        margin: 0 0 4px;
    }
}

