/* Section */

.section-header{
    width: $col*8;
    padding: 0 $innerGutter;
    margin: 0 auto 60px;
    text-align: center;
}

.section-title{
    width: auto;
    padding: 0 $outterGutter;
    margin: 1.75em 0 0;
    font-family: $sourceBlack;
    font-size: 5.2rem;
    line-height: 1;
    letter-spacing: -0.03em;
    color: $chapo;
    + .subtitle{
        display: block;
        padding: 0 $outterGutter 30px;
        border-bottom: 1px solid $greyBorder;
        position: relative;
        margin: 0 0 30px;
        text-align: center;
        &:before, &:after{
            @include themeBg;

            content: '';
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
        }
        &:before{
            width: 1px;
            height: 15px;
            bottom: -8px;
        }
        &:after{
            width: 35px;
            height: 1px;
            border-left: 10px solid #fff;
            border-right: 10px solid #fff;
            bottom: -1px;
        }
    }
}
