.team{
	display: block;
	text-align: center;
	margin: 0 auto;
	padding: 0;
	position: relative;
	&.member-open{
		.team-member{
			opacity: 0.25;
		}
		> li{
			&.open{
				.team-member{
					opacity: 1;
				}
			}
			> .social{
				opacity: 0;
				visibility: hidden;
			}
		}
	}
	> li{
		margin: 0 0 80px 0;
		position: static;
		&:before{
			display: none;
		}
	}
	a{
		display: block;
		box-shadow: none;
		text-decoration: none;
	}
	.infos, .name, .function{
		display: block;
	}
	.infos{
		position: relative;
		padding: 30px 0 0 0;
		z-index: 1;
		&:before, &:after{
		    @include themeBg;

		    content: '';
		    position: absolute;
		    left: -10px;
		    z-index: 1;
		}
		&:before{
		    width: 1px;
		    height: 15px;
		    top: 13px;
		}
		&:after{
		    width: 35px;
		    height: 1px;
		    border-left: 10px solid #fff;
		    border-right: 10px solid #fff;
		    left: -27px;
		    top: 20px;
		}
	}
	.name{
		font-family: $sourceSemiBold;
		font-size: 2.2rem;
		color: $chapo;
		letter-spacing: -1px;
		line-height: 1em;
		position: relative;
		&:before{
			content: '';
			height: 1px;
			border-top: 1px solid $greyBorder;
			position: absolute;
			top: -10px;
			left: 0;
			right: 0;
			background: #fff;
		}
	}
	.function{
		font-family: merriweather;
		font-size: 1.4rem;
		line-height: 1em;
		&:before, &:after{
		    @include themeBg;

		    content: '';
		    position: absolute;
		    right: -11px;
		    z-index: 1;
		}
		&:before{
		    width: 1px;
		    height: 15px;
		    top: 13px;
		}
		&:after{
		    width: 35px;
		    height: 1px;
		    border-left: 10px solid #fff;
		    border-right: 10px solid #fff;
		    right: -28px;
		    top: 20px;
		}
	}
	.desc{
		position: absolute;
		left: 20%;
		right: 20%;
		opacity: 0;
		padding: 0 $innerGutter;
		visibility: hidden;
	}
}

.social{
	margin: 8px 0 0 0;
	padding: 0;
	transition: $transition;
	&:not(.social-desc){
		a{
			@include btnNoTextBefore();
			@include size(16px);
			color: #fff;
			background-color: $we;
			text-align: center;
			font-size: 10px;
		}
	}
	> li{
		display: inline-block;
		vertical-align: top;
		margin: 0 3px;
		padding: 0;
		&:before{
			display: none;
		}
	}
	a{
		display: block;
		&:before{
			line-height: 16px;
			width: 100%;
		}
	}
	&.social-desc{
		> li{
			margin: 0;
			width: 31.3%;
			margin: 0 $innerGutter;
			text-align: left;
		}
		a{
			color: $greyBlue;
			font-family: $sourceBlack;
			font-size: 1.4rem;
			text-transform: uppercase;
			text-decoration: underline;
			vertical-align: middle;
			top:-.1em;
			span{
				display: inline-block;
				vertical-align: middle;
				top:-.1em;
				margin: 0 10px 0 0;
				@include size(32px);
				font-size: 16px;
				background-color: $we;
				text-align: center;
				color: #fff;
				&:before{
					line-height: 32px;
				}
			}
		}
	}
}

.btn-left-desc-glob{
	margin: 0;
	> li{
		&:before{
			display: none;
		}
	}
	a{
		display: block;
		@include btnNoTextBefore();
	}
}

.wrapper-btn-glob{
	position: absolute;
	top: 0;
	max-width: 20%;
	height: 100%;
	z-index: 10000;
	background-color: #fff;
	//opacity: 0;
	//visibility: hidden;
	a{

	}
	&.prev{
		left: 0;
	}
	&.next{
		right: 0;
	}
}

.btn-desc{
	margin: 0;
	> li{
		&:before{
			display: none;
		}
		position: absolute;
		top: 50%;
		transform: translate3d(0, -50%, 0);
		&:first-child{
			left: -100px;
			a{
				&:before{
				}
				&:after{
					transform: rotate(-180deg);
					left: 24px;
					margin-top: -5px;
				}
			}
		}
		&:last-child{
			right: -100px;
			a{
				&:before{
				}
				&:after{
					left: 37px;
				}
			}
		}
	}
	a{
		display: block;
		width: 57px;
		height: 45px;
		border: 3px solid $we;
		line-height: 45px;
		text-align: center;
		color: $we;
		@include btnNoTextBefore();
		&:before, &:after{
		    @include fontIcon();

			text-indent: 0;
		    position: absolute;
		    top: 50%;
		    transition: transform $transition;
		    transform: translate3d(0, 0, 0);
		}
		&:before{
			content: '\e900';
			height: 16px;
			left: 27px;
			font-size: 16px;
			margin: -8px 0 0 0;
		}
		&:after{
			content: '\e901';
			height: 9px;
			font-size: 9px;
			margin: -4px 0 0 0;
			transform-origin: 50% 50%;
		}
	}
}

.content-desc-responsive{
	height: 0;
	opacity: 0;
	visibility: hidden;
	text-align: center;
	margin: -20px 0 20px 0;
	.btn-desc{
		display: none;
	}
	.social{
		display: none;
	}
}