.team{
	display: block;
	text-align: center;
	margin: 0 auto;
	padding: 0;
	position: relative;
	will-change: transform;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	&.member-open{
		.team-member{
			opacity: 0.25;
		}
		> li{
			&.open{
				.team-member{
					opacity: 1;
				}
			}
			> .social{
				opacity: 0;
				visibility: hidden;
			}
		}
	}
	> li{
		margin: 0 0 80px 0;
		position: static;
		will-change: padding;
		&:before{
			display: none;
		}
	}
	a{
		display: block;
		box-shadow: none;
		text-decoration: none;
	}
	.infos, .name, .function{
		display: block;
	}
	.infos{
		position: relative;
		padding: 30px 0 0 0;
		z-index: 1;
		&:before, &:after{
		    @include themeBg;

		    content: '';
		    position: absolute;
		    left: -10px;
		    z-index: 1;
		}
		&:before{
		    width: 1px;
		    height: 15px;
		    top: 13px;
		}
		&:after{
		    width: 35px;
		    height: 1px;
		    border-left: 10px solid #fff;
		    border-right: 10px solid #fff;
		    left: -27px;
		    top: 20px;
		}
	}
	.name{
		font-family: $sourceSemiBold;
		font-size: 2.2rem;
		color: $chapo;
		letter-spacing: -1px;
		line-height: 1em;
		position: relative;
		&:before{
			content: '';
			height: 1px;
			border-top: 1px solid $greyBorder;
			position: absolute;
			top: -10px;
			left: 0;
			right: 0;
			background: #fff;
		}
	}
	.function{
		font-family: merriweather;
		font-size: 1.4rem;
		line-height: 1em;
		&:before, &:after{
		    @include themeBg;

		    content: '';
		    position: absolute;
		    right: -11px;
		    z-index: 1;
		}
		&:before{
		    width: 1px;
		    height: 15px;
		    top: 13px;
		}
		&:after{
		    width: 35px;
		    height: 1px;
		    border-left: 10px solid #fff;
		    border-right: 10px solid #fff;
		    right: -28px;
		    top: 20px;
		}
	}
	.desc{
		position: absolute;
		left: 20%;
		right: 20%;
		opacity: 0;
		padding: 0 $innerGutter 0 $innerGutter;
		visibility: hidden;
		.btn-cross{
			/*position: absolute;
			top: 0;
			right: 0;*/
			display: inline-block;
			vertical-align: top;
			margin: 0 0 30px 0;
		}
	}
}

.social{
	margin: 8px 0 0 0;
	padding: 0;
	transition: $transition;
	&:not(.social-desc){
		a{
			@include btnNoTextBefore();
			@include size(16px);
			color: #fff;
			background-color: $we;
			text-align: center;
			font-size: 10px;
		}
	}
	> li{
		display: inline-block;
		vertical-align: top;
		margin: 0 3px;
		padding: 0;
		&:before{
			display: none;
		}
	}
	a{
		display: block;
		&:before{
			line-height: 16px;
			width: 100%;
		}
	}
	&.social-desc{
		> li{
			margin: 0;
			width: 31.3%;
			margin: 0 $innerGutter;
			text-align: left;
		}
		a{
			color: $greyBlue;
			font-family: $sourceBlack;
			font-size: 1.4rem;
			text-transform: uppercase;
			text-decoration: underline;
			vertical-align: middle;
			top:-.1em;
			span{
				display: inline-block;
				vertical-align: middle;
				top:-.1em;
				margin: 0 10px 0 0;
				@include size(32px);
				font-size: 16px;
				background-color: $we;
				text-align: center;
				color: #fff;
				&:before{
					line-height: 32px;
				}
			}
		}
	}
}

.btn-left-desc-glob{
	margin: 0;
	> li{
		&:before{
			display: none;
		}
	}
	a{
		display: block;
		@include btnNoTextBefore();
	}
}

.wrapper-btn-glob{
	position: absolute;
	top: 0;
	width: 20%;
	height: 100%;
	z-index: 10000;
	//background-color: #fff;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.2s ease-in-out;
	a{
		top: 50%;
		left: 50%;
		margin: -22px 0 0 -28px;
	}
	&:before{
		content: '';
		display: block;
		position: absolute;
		width: auto;
		height: auto;
		top: 0;
		bottom: 0;
		background-color: #fff;
	}
	&.btn-prev{
		left: 0;
		&:before{
			left: -20px;
			right: 8px;
		}
	}
	&.btn-next{
		right: 0;
		&:before{
			left: 8px;
			right: -20px;
		}
	}
	&.open{
		opacity: 1;
		visibility: visible;
	}
}

.btn-desc{
	margin: 0;
	> li{
		&:before{
			display: none;
		}
		position: absolute;
		top: 50%;
		transform: translate3d(0, -50%, 0);
		&:first-child{
			left: -100px;
		}
		&:last-child{
			right: -100px;
		}
	}
}

.content-desc-responsive{
	height: 0;
	opacity: 0;
	visibility: hidden;
	text-align: center;
	margin: 20px 0 20px 0;
	padding: 0;
	.btn-desc{
		display: none;
	}
	.social{
		display: none;
	}
	.btn-cross{
		margin: 0 0 30px 0;
	}
}

.container-team{
	padding-bottom: 80px!important;
	backface-visibility: hidden;
	transform-style: preserve-3d;
}