/* Quotes */

.quotes{
    background: linear-gradient(to bottom, rgba(129,138,140,1) 0%,rgba(99,106,107,1) 100%);
    position: relative;
    overflow: hidden;
    .grid{
        display: table;
        table-layout: fixed;
    }
}

.quote{
    position: relative;
    color: #fff;
    display: table-cell;
    vertical-align: top;
    border-right: 1px solid #9aa1a3;
    @include pseudoCross(#fff);
    &:before, &:after{
        top: 50%;
    }
    &:before{
        right: -1px;
        margin-top: -7px;
    }
    &:after{
        right: -8px;
        border: none;
        width: 15px;
    }
    &:last-child{
        border: none;
        &:before, &:after{
            display: none;
        }
    }
    .img-quote{
        width: 50%;
        position: absolute;
        bottom: -1px;
        right: 0;
        text-align: left;
    }
    blockquote{
        position: relative;
        width: 50%;
        margin: 0;
        padding: 35px 0 15px 0;
        min-height: 180px;
        p{
            color: #fff;
            font-size: 1.8rem;
            margin: 0 0 12px 0;
            line-height: 1.2;
        }
        footer{
            font-size: 1.4rem;
        }
    }
}