/******* GÉNÉRAL *******/

::-moz-selection {
    background: rgba($black, 0.99);
    color: $white;
    text-shadow: none;
}
::selection {
    background: rgba($black, 0.99);
    color: $white;
    text-shadow: none;
}

html {
    font-size: 62.5%; /* sets the base font to 10px for easier math */
    background: $white;
    @extend %no-scroll;
}

body {
    font: 1.4em / 1.5 $century;
    color: $txt;
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 4rem;
}

h2,
h3,
h4,
h5,
h6 {
    > a {
        color: inherit;
        &:hover,
        &:focus {
            color: $secondary;
        }
    }
}

.wysiwyg h2,
.h2,
.wysiwyg h3,
.h3,
.wysiwyg h4,
.h4,
.wysiwyg h5,
.h5,
.wysiwyg h6,
.h6,
.title-maj {
    margin: 1.5em 0 1em;
}

.wysiwyg h2,
.h2,
.title-home {
    font-size: 2.4rem;
}

.wysiwyg h3,
.h3 {
    font-size: 2rem;
}

.wysiwyg h4,
.h4 {
    font-size: 1.8rem;
}

.wysiwyg h5,
.h5 {
    font-size: 1.5rem;
}

.wysiwyg h6,
.h6 {
    font-size: 1.4rem;
}

.title-maj {
    text-transform: uppercase;
    text-align: center;
}

p {
    margin: 1.8em 0;
}

blockquote {
    margin: 1em 40px;
}

ol,
ul {
    padding: 0;
    margin: 1em 0;
    ol,
    ul {
        padding: 0 0 0 $gutter * 2;
        margin: 1em 0;
    }
}
li {
    margin: 0 0 20px;
}

img {
    max-width: 100%;
    height: auto;
}

// COMBAK: Remove if not used
hr {
    height: 1px;
    max-width: 250px;
    border: 0;
    margin: 3em auto 5em;
    background: $black;
}

svg {
    max-width: 100%;
}

/******* LIENS / BOUTONS *******/

button,
input {
    color: inherit;
    @extend %outline;
}

a {
    font-weight: 900;
    text-decoration: none;
    transition: $transition;
    color: $secondary;
    @extend %outline;
    &:hover,
    &:focus {
        color: $quaternary;
    }
    &:active {
        filter: saturate(200%);
    }
}

/******* CLASSES GENERALES  *******/

.clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

.align-center {
    text-align: center;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}

.inline-b {
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-0.1em);
}

.full-width {
    width: 100%;
}

.no-transition {
    transition: none !important;
}

@media (min-width: $phone) {
    body {
        font-size: 1.7rem;
    }

    h1 {
        font-size: 5.6rem;
    }

    .wysiwyg h2,
    .h2,
    .title-home {
        font-size: 2.8rem;
    }

    .wysiwyg h3,
    .h3 {
        font-size: 2.2rem;
    }

    .wysiwyg h4,
    .h4 {
        font-size: 2rem;
    }

    .wysiwyg h5,
    .h5 {
        font-size: 1.8rem;
    }

    .wysiwyg h6,
    .h6 {
        font-size: 1.7rem;
    }
}
