/* Buttons */

.btn,
.btn-invert,
.wp-block-button__link {
    display: inline-block;
    padding: 0.5em 2.5em;
    font-family: $roboto;
    font-weight: 900;
    font-size: 0.95em;
    border-radius: 4px;
}

.btn,
.wp-block-button__link {
    border: 2px solid $secondary;
    background: $secondary;
    color: #fff;
    &:hover,
    &:focus {
        background: #fff;
        color: $secondary;
        border-color: $secondary;
    }
}

.btn-invert {
    border: 2px solid $tertiary;
    background: $tertiary;
    color: $primary;
    &:hover,
    &:focus {
        background: transparent;
        color: $tertiary;
        border-color: $tertiary;
    }
}

.link {
    text-decoration: underline;
    color: $primary;
}

.link-roboto {
    font-family: $roboto;
    text-decoration: underline;
}

.btn-close {
    display: flex;
    align-items: flex-end;
    margin: 3px 0 0;
    font-weight: 900;
    line-height: 1;
    color: $tertiary;
    > span {
        text-decoration: underline;
    }
    .icon {
        width: 9px;
        height: 9px;
        margin: 0 0 2px 5px;
    }
}
